[2020-04-01 15:49] Aleh-Voinau opened #3 "Issue with running kloadgen plugin on Windows 10"
This is the only plugin that I fond that declare ability to send kafka message with a header. But unfortunately it doesn't work for me.

Details:
1. There is an issue in Jmeter 5.1.1 while sending a kafka message.  I used Example-Test-Plan.jmx from the git folder.
Log from jmeter:
[code]
![image](https://user-images.githubusercontent.com/62956725/78157970-583c4180-7449-11ea-9f1f-861049eb684c.png)

[2020-04-02 06:32] kszosze commented on #3
Hi Aleh,
Thanks for the feedback.
We are gonna take a look into it.
Will anwser as soon we know something.
Cheers

[2020-04-06 15:25] pgonzalezgua opened #5 "Issue when generating message when Union has only one element"
If an Avro uses an Union with only one element, a NullPointerException is raised.

[2020-04-06 16:34] kszosze commented on #5
Thank you pgonzalezgua,
Will take a look into it.

[2020-04-07 06:15] kszosze commented on #5
Fix had been applied to master. Now support Union field with only one element.

[2020-04-07 06:15] #5 closed

[2020-04-07 06:17] kszosze opened #7 "Support advanced Schema Registry configuration to allow Authentication"
If the schema Registry has security activated, we need to be able to pass username/password or bearer token to the client.

[2020-04-08 05:55] #3 closed

[2020-04-14 06:07] codigoFuentes opened #9 "Import schemas from files"

[2020-04-15 06:15] #7 closed

[2020-04-15 06:32] PabloCastroCastro opened #11 "Mix multiple schemas to form a data set"

[2020-04-16 15:00] #11 closed

[2020-04-16 15:01] PabloCastroCastro opened #13 "Remove Avro specific method of RandomTool"
In RandomTool there exists one method which is used only for schema Avro, the objective is to move this method to another place. Also the second parameter of castValue method should be a string.

[2020-05-04 02:41] muthiahm227 opened #15 "String-Map issue"
In the Avro Field and Expression Mappings - Kafka Load Generator Config, for the String-Map field whatever value that we give it gets duplicated or split and sent. We are not able to send the data properly.
For eg, if we have field name as "ExcelValues" and field type as "string-map" and if we give this in the field value list [{"area":"LASK","area":"JSKL"}] then it goes to kafka as {"area":"LASK"

[2020-05-04 06:02] kszosze commented on #15
Hi Muthiahm,
We will take a look.
The field Value List is used for our Randon Generator Value as a set of possible values to fill the field. Size of the map can be set in the Size Column, but if you let it at 0 a random size is choose.
Can you please provide us the JMX file you are using or at least a screnshot of the properties table?
Thanks in advance.

[2020-05-04 10:02] #13 closed

[2020-05-04 13:56] muthiahm227 commented on #15
Hi Kszosze, Thanks for the reply. Due to client restrictions, i cannot post the screenshot or share the JMX. But in properties I havent changed anything apart from the first 3 params (bootstrap,zookeeper and topic)
In the field value list, i wish to give a standard set of values that needs to be pushed to the kafka topic, instead of a random value. I hope it is possible, please clarify. I tried wi

[2020-05-04 14:33] kszosze commented on #15
Hi Muthiahm,
I just have a proposal in a branch for this issue. Can you please try it?
The behaviour of the plugin, in that branch, requires you include the values as [Key1_MyKey:Value1_MyValue,Key2_MyKey:Value2_MyValue]
so the tool will choose values from that list to fill a map.
if you define a map of size1, it will choose 1 of those values and insert it. if you define a map of size 3 it will be

[2020-05-05 05:37] muthiahm227 commented on #15
Hi Kszosze,

Thanks for looking into this. I took the latest code and built JAR and tried executing the test. I am getting an error that "Error serializing Avro message". Please refer the stack trace below.

[code]

[2020-05-05 05:57] kszosze commented on #15
Hi Muthiahm,
That looks a different problem than the map one. I'm assuming you got the branch, compile it and run the test.
What this error means, is you had an Enum type defined in your Schema, but when you are trying to serialize the defined type is a String (or CharSequente) so it is not compatible. Like a ClassCastException.
Now I really need a similar schema with similar properties and a jmx

[2020-05-05 12:44] muthiahm227 commented on #15
Hi Kszosze,
I am not sure whether this is a separate issue or not, because we haven't faced this issue with the previous jar that we used. this issue we are getting only from the current version of code. And there is no change in our schema/code.

[2020-05-05 16:29] kszosze commented on #15
Hi Muthiahm,
it's really strange. I need an example of the failing schema. Can you provide it? The stacktrace looks extrange I'm trying to figure out how to replicate. You are using the code from this issue branch, right?
Regards

[2020-05-06 09:22] kszosze commented on #15
Hi Muthiahm,
I just do deeper and I found a bug. I'll prepare a fix during the day.
Sorry for the problems.
I'll keep you posted.
Regards

[2020-05-06 13:41] kszosze commented on #15
Hi Muthiahm,
Fix committed. If you don't mind to try it, I guess it will work fine.
I'll be waiting for your feedback.
Regards

[2020-05-07 07:29] muthiahm227 commented on #15
Hi Kszosze,
Thanks for your time and fixing this. Now, I am able to push messages successfully  :-) and I no longer get TypeCast issue or wrongly formatted message.
But one small issue that I still see is that, for a specific string-map, i have to send close to 25 key-value pairs and when i try to send that, the tool randomly picks some 4-5 values only and sends it, i tried changing the field leng

[2020-05-07 08:09] kszosze commented on #15
Hi Muthiahm,
good to know is working.
About field Length, in case of maps it's a bit controversial.
This property meaning is Length of the generated data, for example in case of String Field means string not bigger than the specified. Same for Integer values or so.
Arrays and Maps are more or less similar, but now we only have length implementation for arrays, you specify a number between the firs

[2020-05-07 09:20] muthiahm227 commented on #15
Hey, thanks for the help, let me open one more thread to increase the string-map field to the set values, instead of "random number top to 5"

[2020-05-07 09:27] muthiahm227 opened #18 "String-Map - Send preset values"
Currently we are required to send 20+ key-value pairs (preset values and not random values) as part of the String-Map field and what we have observed is that the plugin randomly chooses a few key-value pairs and sends it to Kafka Topic. Is it possible to change the behavior of this to send the preset-value as it is, if the Field-Length value is set to "0"?

[2020-05-07 09:32] #15 closed

[2020-05-08 11:33] muthiahm227 commented on #15
Hi Kszosze, Thanks for your helep. Will you be able to look at the other issue as well - "String-Map - Send preset values", which I have explained in this thread also?

[2020-05-08 12:53] kszosze commented on #15
Hi Muthiahm,
We are already on it. Just doing the changes. I hope early next week we are gonna have something already.
Regards.

[2020-05-08 12:55] kszosze commented on #18
Hi Muthiahm,
we are gonna implement this behaviour in the same way the arrays works.
We shall keep some coherence with the other similar functionalities.
Regards

[2020-05-11 02:54] muthiahm227 commented on #18
Thanks, will wait for the updated code.

[2020-05-12 06:51] exitsmoker opened #20 "setSchemaRegistryProperties method exception"
I got this issue
[code]

and this is the detail.
[code]

From Jmeter source
[code]

I guess the method invoke one of those three exceptions which is illegalArgumentException, illegalAccessException and InvocationTargetException.

What am I supposed to do with that ?

[2020-05-12 06:56] kszosze commented on #20
Hi Kojo,
Thanks for the feebback
We are gonna take a look and try to reproduce the error, we'll let you know.
Is possible if you attach you jmx file?
Thanks!

[2020-05-12 07:17] kszosze commented on #20
Hi Kojo,
you were configuring the test without a ThreadGroup?
It looks like the exception cames when you try to configure all the test outside a Thread Group. We use the ThreadGroup context to share values between components, and in your Trace this context look like didn't exist.
Waiting for feedback.
Regards!

[2020-05-12 08:33] exitsmoker commented on #20
Umm.. actually I have tried with the Example-Test-Plan.jmx file this provide.
It seems the file have a ThreadGroup.

[2020-05-12 10:04] kszosze commented on #20
Ok, i'll checkt up the example test plan, probably the issue is in there.

[2020-05-12 17:02] kszosze commented on #20
Hi Kojo,
I just checked the Example-Test-Plan.jmx, running here and didn´t get the same error. Guess you didn´t change anything and just open the Example-Test-Plan with a Schema Registry running in your local and some schemas there? Or what is your setup?
Regards.

[2020-05-13 01:00] exitsmoker commented on #20
Hi kszosze,
Thanks for replying.
I should have told you the environment ran the Jmeter.

The Jmeter was in a pod of Kubernetes as Ubuntu container which I made using Dockerfile.
And I ran jmeter with `jmeter -n -t Exaple-Test-Plan.jmx` in which I changed Schema Registry Url to Kubernetes service url.

[code]

Really appreciate to taking care about my comment

Regards.

[2020-05-13 06:00] kszosze commented on #20
Hey Kojo,
Thanks for the reply and clarify the environment. Indeed it will help.
I´ll try to reproduce your environment and giving a try.
Just to know, Did you change the Schema Url in the JMX or tried to do it through env variables?
Regards!

[2020-05-13 08:09] kszosze commented on #20
Hi Kojo,
I think I got the issue and a patch in the branch linked to this ticket.
Do you mind to test it in your environment?
Thanks for the feedback!
Cheers

[2020-05-13 08:22] exitsmoker commented on #20
Hi Jose.
Thanks for the reply and the commit !
I will give a try and comment back
Regards !

[2020-05-13 09:38] exitsmoker commented on #20
Hi Jose.
I tried Example again and got a new issue.

[code]

and this is the Example.jmx file I changed some tag like schema-registry url, bootstrap-server
[code]

Thanks to care !
It is not urgent now so have a enough time to look around Jose !
I will look around the code also.

Regards !

[2020-05-13 09:46] kszosze commented on #20
HI Kojo,
thanks for the feedback, I really appreciate it.
If you don´t mind, we keep a policy about one issue one problem, so I can merge the code and solve problems asap for other people, instead of accumulate then in one task.
Do you mind open a new one with last one, we will try to jumo over asap.
In the other hand, I recommend use the jmeter gui editor to make all the changes. Some times manua

[2020-05-13 12:04] muthiahm227 commented on #15
Great thanks.

[2020-05-13 14:02] kszosze commented on #18
Hi Muthiahma,
 we are working in a solution,
 I hope quite soon we are gonna deliver something.
Regards

[2020-05-14 01:33] exitsmoker commented on #20
Hi Jose,
Thanks for the effort.

I don't mind what you're going to do.

Have a good day !

[2020-05-14 06:13] kszosze commented on #20
Hi Kojo,
I took a close look to this issue and try to reproduce it. It works fine through the UI and in Server mode. Analysing the stacktrace I saw it looks like a missing Class in your classpath. Can you please verify you don't have twice the plugin jar in your classpath? We change the version number with every ticket so it can appear twice in your lib/ext folder and cause this type of problems.

[2020-05-14 09:20] exitsmoker commented on #20
Umm,
Yeah this time I got this log
[code]

Regards !

[2020-05-14 11:05] muthiahm227 commented on #18
Sure, thanks for the update

[2020-05-14 16:39] kszosze commented on #20
Hi Kojo,
I cannot reproduce this error. Are you still using the same jmx file?
Have you proper configured your Schema Registry with a testing avro?
I need more feedback in order to analyse this error.
I updated master with all fixes and some tweaks, so please try with that branch.
Thanks

[2020-05-15 01:07] exitsmoker commented on #20
Hi Jose.
okay I give a try.
Thanks !

[2020-05-15 06:36] kszosze commented on #20
Hi Kojo,
thanks!!
I'm gonna close this issue, if anything just open a new one please.
Regards!

[2020-05-15 06:36] #20 closed

[2020-05-15 06:43] codigoFuentes commented on #18
Hi Muthiahm,
the update is ready you can test it directly from the master branch.
Regards

[2020-05-15 06:48] #18 closed

[2020-05-21 18:13] codigoFuentes opened #25 "Add primitive types checking in createRecord"

[2020-05-22 07:17] #9 closed

[2020-05-22 09:56] codigoFuentes opened #26 "Update README"

[2020-05-28 15:47] #26 closed

[2020-05-28 15:47] #25 closed

[2020-06-04 08:27] codigoFuentes opened #30 "Ignore specific values enum type problem"

[2020-06-05 08:32] #30 closed

[2020-06-08 12:50] benediktwetzel opened #32 "Issue when using Kafka File Load Generator Config"
Hi all, I use the plugin to send Avro-Kafka records. With the schema registry it works fine, great plugin.

Unfortunately loading Avro-schemes via file does not work for me. I use the Example-Test-Plan.jmx and replaced the Kafka Load Generator Config with a Kafka File Load Generator Config element.

This leads to the following error messages:

Error 1:
[code]

Error 2:

[code]
Error 3:
[code]

I h

[2020-06-08 13:14] kszosze commented on #32
Hi Benedikt
First of all thanks for use the plugin, it means a lot for us.
Second thing i see you are using the confluentKafkaSample in the Kafka Producer Properties. This especific sampler use the Confluent producer which requires a schema registry in order to be able to send messages, (it make a validation between topic and schema to ensure one to one relationship between an AVRO schema and a To

[2020-06-08 13:43] benediktwetzel commented on #32
Hi, Jose,
Thanks for the quick answer. I tried both:

When I use KafkaSampler:

Error 1:

[code]
Error 2:
[code]
Error 3:
[code]

`KafkaSampler`
![kafkaSampler](https://user-images.githubusercontent.com/45208625/84036181-28577000-a99d-11ea-9239-b69eb5fe4c99.png)

When i use GenericKafkaSampler:
Error 1:
[code]

Error 2:
[code]

Error 3:
[code]

GenericKafkaSampler:
![GenericSampler](https://user-i

[2020-06-08 17:16] kszosze commented on #32
Hi Benedikt,
that's really odd. My apologizes.
We will take a look into it.
Thanks for your feedback

[2020-06-11 12:56] codigoFuentes opened #34 "Union basic type error"

[2020-06-11 13:33] kszosze commented on #32
Hi Benedikt,
just a catch up!
We found there was a small link with a Schema Registry server in our code, so we are working to create a full decoupling.
Apologizes.
We will prepare a candidate for next release asap.
Cheers!

[2020-06-11 14:05] benediktwetzel commented on #32
Thank you!

[2020-06-11 15:02] #34 closed

[2020-06-17 13:12] codigoFuentes opened #35 "Save schema in property"

[2020-06-17 17:49] quyeny2k opened #36 "AVSC file for the example jmx"
Can you post the avsc file for the example?  Thanks.

[2020-06-18 07:29] kszosze commented on #36
Hi there,
we are publish an example quite soon.
Next release is coming!
Cheers!

[2020-06-22 09:30] bernalvarela opened #38 "Update guava to version 24.1.1 to solve medium vulnerability"
The guava version used in project has a solved vulnerability in the version 24.1.1 it should be a good practice to update the library to solve this vulnerability.

https://github.com/corunet/kloadgen/network/alert/pom.xml/com.google.guava:guava/open

[2020-06-22 15:38] ismail261 opened #39 "Array of Map"
My schema has an array of map. And I believe that feature does not exist. Am I correct on this? Or Am I missing something?

[2020-06-23 06:53] kszosze commented on #39
Hi Ismail,
That is an interesting question. We support Arrays of almost whatever type you can define in AVRO. As far I saw in the code, array of maps should be covered as well, but we didn't test this specific case.
Did you find any error or exception? If so, please let us now in order to fix it.
Cheers!!

[2020-06-23 06:58] kszosze commented on #36
Hi there,
New version just pop out the oven.
As I said, I added an AVSC file as an example. It's not the we use in the example Jmx, since this example was made to run against a Schema Registry, but that will let you play around a bit.
That suits you?
Cheers

[2020-06-23 14:08] ismail261 commented on #39
As soon as I tried to load my schema, it failed on line number: 153 in SchemaExtractor class with index out of bound exception.
`
internalFields.get(0).setFieldName(innerField.name());
`
This happened because `extractArrayInternalFields(innerField);` returned empty array.

It returned empty Array because the above method didn't had typeset of Map defined in SchemaExtractor.

`
private final Set<Ty

[2020-06-23 14:14] kszosze commented on #39
Thanks for the feedback!
Those look easy changes but we´ll take a look into this.
Now we are in the middle of a nice rework, so support lists of maps will be a bit tricky.
But we will handle it asap.
Cheers.

[2020-06-23 14:15] kszosze commented on #38
Thanks,
It will be upgrade to the latest one.
Cheers!!

[2020-06-23 14:15] #38 closed

[2020-06-23 14:16] kszosze commented on #32
Hi Benedikt,
crazy dayes last weeks, but we didn´t forget you.
Hope we can have some fix quite soon.

[2020-06-23 14:18] ismail261 commented on #39
Thank you for replying fast. One more thing.

![image](https://user-images.githubusercontent.com/11082044/85414794-8efe9100-b53a-11ea-90ea-b24cfd3344ef.png)

I have printed out in console the message it is trying to write and it looks like:
`
message: {"name": "abcd", "value": "map-array"}
`
which does not match what is configured.

[2020-06-25 06:52] kszosze commented on #39
Hi there,
Can you please provide an avsc file with you schema?
Just to add this use case to our test.
Cheers

[2020-06-25 06:53] kszosze commented on #32
Hi Benedikt,
There is a pull request with a candidate proposal to sort out your problem.
It will be possible if you test it with you specific case just to verify solve your problem?
Regards!!

[2020-06-25 16:25] ismail261 commented on #39
`
{
  "protocol" : "TestDTO",
  "namespace" : "com.abcd",
  "types" : [ {
    "type" : "record",
    "name" : "Test",
    "fields" : [ {
      "name" : "name",
      "type" : "string"
    }, {
      "name" : "values",
      "type" : {
        "type" : "array",
        "items" : {
          "type" : "map",
          "values" : "string"
        }
      }
    } ]
  } ],
  "messages" : { }
}
`

Would

[2020-06-26 11:05] kszosze commented on #39
Hi Ismail,
Thanks for the Schema.
There is a branch with a candidate solution for this feature (#39).
If you feel ok to try it, that will accelerate the process.
Cheers!

[2020-06-26 14:30] ismail261 commented on #39
Hey. My Java request fails and it fails from master too. When i try to open new java request in jmeter, i get following error: `Uncaught Exception java.lang.NoClassDefFoundError: org/apache/kafka/common/security/auth/SecurityProtocol. See log file for details.`

[2020-06-26 14:41] ismail261 commented on #39
I checked out commit from 11th june with 1.5.1 version and it worked.

[2020-06-26 14:49] kszosze commented on #39
Uh, that's strange. I test it before commit. Did you delete previous plugin versions?

[2020-06-26 14:54] kszosze commented on #39
Latest release jar name had change. Since we complet the standalone version now there is a "-plugin-" In the name. This is the right one to use.

[2020-06-26 15:01] ismail261 commented on #39
This is the jar name "kloadgen-1.6.1.jar" that it gets builds and install in local repository. I do not see a plugin name in jar version.

[2020-06-26 15:09] kszosze commented on #39
Can you please check the target folder where you are building the plugin. This version should generate a kloadgen-plugin-1. 6.1.jar file . About 30Mb. The one you are using doesn't have all the required dependencies.

[2020-06-26 15:10] kszosze commented on #39
Please verify you are using the Branch #39_Map_array

[2020-06-26 15:15] ismail261 commented on #39
Thanks for that it worked. I was copying ajr file that got installed to local maven repository and I didn't realize the process had changed.
And yes I am using branch  #39_Map_array. Will test it and let you know if it worked for me.

[2020-06-26 15:18] ismail261 commented on #39
Can you help with the format for array map in field value list?

[2020-06-26 15:24] kszosze commented on #39
Sure, details are in the readme. But for add values to generate testing data you should write pair key:value comma separated.
Key1:value1, key2:value2,....
From that the system will get those values to generate random maps. Keep in mind that actual implementation will use those values so if you define a map size bigger than testing set you only can get those values.
Now I'm not at home.
Later I'll

[2020-06-26 15:46] ismail261 commented on #39
No worries.

This is what i put in value: `[n:1,  a:1]`

Some of the values that it generates on topics are:
`{"name":"abcd","value":[{"a":"1","n":"1"}]} - array with single map object containing 2 parameters`
`{"name":"abcd","value":[{"n":"1"}]} - array with single map object containing 1 parameters`

But it does not generate array with multiple map objects.

My specific requirement is to be able

[2020-06-26 16:51] ismail261 commented on #39
This is my configuration:

![image](https://user-images.githubusercontent.com/11082044/85881501-b6a86000-b7ab-11ea-9086-f84dfb61ee14.png)

It is not generating array of size 5 and it is also not generating string for 20 characters.

[2020-06-26 16:57] ismail261 commented on #39
With this configuration:

![image](https://user-images.githubusercontent.com/11082044/85881835-451ce180-b7ac-11ea-9c39-04598fa0d055.png)

It still generated array of size 1 but there were 5 parameters in a map every time. I think it is using an array number to generate number of elements in map.

There should be a way to specify 2 numbers now. One for size of array and one for number of parameters

[2020-06-26 17:01] kszosze commented on #39
Thank you for all the feedback. At the moment array of map is still something under development.
Only the [5] is used to define the size of the inner collection.
I'll figure out a way to specify the second size. Probably I'll use the 3 column for that.
Next week probably I'll get something. It's ok?

[2020-06-26 17:04] ismail261 commented on #39
That's fine. I appreciate so much for you getting this done asap. Thank you very much.
Let me know whenever you are ready with changes and I can help to test.

[2020-06-26 18:36] kszosze commented on #39
Hi Ismail,
Just got some improvements related to the double size request.
Now number between [] will set the array size, in the meantime Field Length will set up the map size.
Keep in mind it you want to generate a map of 20 fixed values, you should set up them in the Field Value List or if you can survive with random values, just leave the Field value list empty but set a value in the Field Lengt

[2020-06-26 18:39] ismail261 commented on #39
Thanks Jose. Let me give it a try.

[2020-06-26 18:58] ismail261 commented on #39
Hi Jose,

With this configuration:

![image](https://user-images.githubusercontent.com/11082044/85891476-2b37ca80-b7bd-11ea-8c89-5d15afeb2d0f.png)

It was supposed to producer array of size 3 with map size of 2. But it did reverse. It produced array of size 2 with map size of 3

`{"name":"abcd","value":[{"BN":"iG","Mr":"MF","gE":"NJ"},{"NV":"Sv","Nf":"dW","ji":"Ty"}]}`
`{"name":"abcd","value":[{"i

[2020-06-26 19:05] ismail261 commented on #39
Hi Jose,

Is there a way to to generate random string for one of the value in the map?

If Field Values list can contain something like this:
`[a:1,b:randomString(45),c:randomInt(4)]`

[2020-06-27 14:53] kszosze commented on #39
Mmmm not at the moment, maps we generate are same type value.. All the values should have the same time. However, we support variable replacement, that is, you can write [${mygeneratedmap}] and it will replace by the value of the variable with the same name. You can use a Pre-processor to do that, like a Groove, bean shell.... Or values from a csv file...

[2020-06-29 07:01] kszosze commented on #39
"It was supposed to produce an array of size 3 with map size of 2. But it did reverse. It produced an array of size 2 with map size of 3"
I think this is already fixed.

[2020-06-29 13:37] ismail261 commented on #39
Hi Jose,

I tested and yes array issue has been fixed. I see correct sizes of array and map written to topic. Also I was able to use pre processor to generate random map values. So that worked too.

I think all looks good at this moment.

[2020-06-29 15:26] kszosze commented on #39
Good to know, will merge that branch them.
Cheers!!

[2020-06-29 15:37] ismail261 commented on #39
Thank you Jose for getting this done so soon :+1: Appreciate a lot

[2020-06-30 08:55] #35 closed

[2020-06-30 08:56] #36 closed

[2020-06-30 08:56] #39 closed

[2020-07-08 19:26] erobertolima121 opened #43 "Error opening file Example-Test-Plan.jmx"
When opening the Example-Test-Plan.jmx file, I am getting the following error:

io/confluent/kafka/schemaregistry/client/rest/exceptions/RestClientException

I performed the settings mentioned, clean and install, and added the .jar in the lib folder.

Can anyone help?

![image](https://user-images.githubusercontent.com/40573811/86961510-b73fdf80-c137-11ea-99e9-ca8e2d48ed4a.png)

[2020-07-09 06:13] codigoFuentes commented on #43
Hello Roberto. Can you check that there is only one kloadgen-1.5.1.jar in  /lib/ext folder?

[2020-07-09 12:32] erobertolima121 commented on #43
Hi @codigoFuentes. Yes, I only have a kloadgen-2.0.0.jar / lib / ext folder

Any more suggestions? Thank's.

![image](https://user-images.githubusercontent.com/40573811/87040412-0719b780-c1c7-11ea-8d36-7a8b82f685d0.png)

[2020-07-09 14:23] codigoFuentes commented on #43
Hello Roberto. We need to update the Example-Test-Plan.jmx file because it is causing problems with schema registry. With your own test plan it should work correctly.

[2020-07-09 23:42] erobertolima121 commented on #43
To generate the .jar just perform clean/install, I verified that the project has errors, can I generate the .jar even with them present?

Could this not be the initial cause of the problem?

![image](https://user-images.githubusercontent.com/40573811/87101035-5c37e680-c224-11ea-8885-141420391ffc.png)

[2020-07-09 23:45] erobertolima121 commented on #43
In an attempt to create my own test plan, I get an error when trying to add the configuration element "Kafka Load Generator Config"

2020-07-09 20:26:53,081 WARN o.a.j.g.u.MenuFactory: Configuration error, probably corrupt or missing third party library(jar)? Could not create class: net.coru.kloadgen.config.schemaregistry.SchemaRegistryConfigElement.
java.lang.NoClassDefFoundError: com/google/comm

[2020-07-09 23:53] kszosze commented on #43
Hi Roberto,
there is a mistake in the Readme file. You should use the kloadgen-plugin-2.0.0.jar instead.
Can you please, replace the one you are using with this one (is in the same target folder) and try again.
Those errors you said looks like classpath problems in you IDE.. intellij?  some times you need you invalidate cache and restart.
Build was success, so nothing wrong happen.
Cheers!!

[2020-07-10 21:51] erobertolima121 commented on #43
This suggestion worked! The plugin was added, presented in Jmeter, and the sample .jmx was read and worked perfectly.

@kszosze @codigoFuentes I appreciate the help and support.

Thanks a lot!!

[2020-07-10 21:53] #43 closed

[2020-07-11 16:29] benediktwetzel commented on #32
Sorry for the late answer!

I tried your new version, but it's do not work for my use case. I want to use an Avro schema to generate Kafka records.

I use you Example-Test-Plan, I only  change to the 'Kafka File Load Generator Config' but got several errors:

[code]
You can find the updated Example-Test-Plan [here](https://gist.github.com/benediktwetzel/6fe14472c214cec6a926904bae2c7ee6)

But i fou

[2020-07-12 08:39] kszosze commented on #32
Hi Benedict,
the "Kafka Load Generator Config" component, requires an schema registry with the schema you want to use.
If you don't want to use a schema registry server and generate payload with an Avro Schema, you should use other component, the "Schema File Load Generator Config".
We should provide a new testplan with this component, my apologise for that.
Can you please try replace the "Kafka L

[2020-07-13 20:03] erobertolima121 opened #44 "Failed retrieve schema properties"
When I click on the option "Test Registry" I am getting the error below, has anyone experienced this problem, any tips to help me?

Failed retrieve schema properties : sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

Thanks!

[2020-07-13 20:21] kszosze commented on #44
Hi E Roberto,
looks like you are using an authenticated schema registry.
In order to connect, you need to introduce the properties for that in the table below the Schema Registry URL.
You should see a list of properties with the Bearer data or the Certificate.
Do you know what kind of security is using your schema registry?
Cheers!!

[2020-07-13 21:18] erobertolima121 commented on #44
Hi, @kszosze,

I'm using SSL (with keystore and truststore keys), I have the jks files and the password to connect, but I don't know how to configure them in this case.

Thanks for the prompt help.

[2020-07-14 08:24] JozefTomko opened #45 "Kafka Headers not sending any headers"
Hi
I'm having an issue with Kafka Headers Configuration.
It doesn't send any headers in the producer.
I tried sending custom string as well as headers from example test plan.
![Kafka_Header](https://user-images.githubusercontent.com/26792025/87397162-28f2b000-c5b4-11ea-877f-3a34bb0e6694.png)

[2020-07-14 08:30] kszosze commented on #45
Hi Jozef,
headers are sent, but they are not added to the Sampler Object, which is the one you are reading there.

I´ll create a branch to add them since you request it.
Cheers!!

[2020-07-15 13:30] erobertolima121 commented on #44
Hi @kszosze ,

Do you have an example of this configuration?

Thanks!

[2020-07-16 15:41] kszosze commented on #44
Hi @erobertolima121
Sure I´ll provide an example. I have the task to increase the examples test plans.
Just last days where a bit busy right here. I´ll do it asap
Cheers.

[2020-07-16 17:10] kszosze commented on #44
HI @erobertolima121

after rereading the conversation (sorry this week was hard) we only support the 2 types of security actually implement Confluent Schema Registry, means Basic and token Bearer. I added couple of screen shots with examples. Certificates and jks files are used typically to connect to the kafka brokers. That configuration is done in the Java Request configuration section
Basic aut

[2020-07-16 17:15] kszosze commented on #45
Hi @JozefTomko
There is a branh + PR with the changes I made after your request. Do you mind test it if it solve your problem?

Regards

[2020-07-17 08:43] JozefTomko commented on #45
Hi @kszosze
Thanks for your quick response.
From the new branch, there is some issue with Kafka producer properties. Both schema registry and specific schema retrieve successfully, but fails producing kafka.

Error:
[code]

[2020-07-17 08:45] kszosze commented on #45
HI @JozefTomko
weird, I tested yesterday before commit the branch.
Can you describe how are you performing the test?
Using the guy, standalone....
Cheers

[2020-07-17 09:31] JozefTomko commented on #45
Hi @kszosze
I build the project using  "mvn clean install -P standalone".
After adding kloadgen-plugin-2.0.0.jar file to lib/ext I run Jmeter in GUI and create new project, add each Kafka config element,
configure connection to schema registry successfully, download specific schema and using ConfluentKafkaSampler java request try to generate kafka message.
There is no issue with issue with the cur

[2020-07-21 06:05] kszosze commented on #45
Hi @JozefTomko,

Problem had been fixed. Can you try that branch?
Cheers!!

[2020-07-21 07:20] benediktwetzel commented on #32
If I understand you correctly, this is exactly what I have done. See here [here](https://gist.github.com/benediktwetzel/6fe14472c214cec6a926904bae2c7ee6)

[2020-07-21 07:30] kszosze commented on #32
This component SchemaRegistryConfigElement si not neccesary if you are using avsc files. What that does is introduce the Schema Registry configuration into the test variables and the samples by default will took them. Since you are not initializing those values it´s failing.
So pleare, remove the Schema Registry Config Element, since it´s not longer need.

[2020-07-21 10:02] benediktwetzel commented on #32
Hi,

thank you a lot for your support!

I can send records with:
. Kafka Headers Config Element
- Kafka Producer Properties : `net.coru.kloadgen.sampler.KafkaSampler`
- Kafka File Load Generator Config

and also with the Schema File Load Generator Config:
. Kafka Headers Config Element
- Kafka Producer Properties : `net.coru.kloadgen.sampler.KafkaSampler`
- Schema File Load Generator Config

Excus

[2020-07-21 10:23] kszosze commented on #32
Hi there,
the KafkaSampler doesn't require an schema registry to validate the AVRO files, so it's more suitable to just read an avsc and sent it to kafka.

About that feature is not possible right now.
But if a request is done, we can consider it in our roadmap. (new request will be neccessary to fill in)

Cheers!!

[2020-07-21 10:34] benediktwetzel commented on #32
Okay.  Maybe I'll open a question issue, but probably I'll just push the schema manually and use the `Kafka Load Generator Config`.

Thanks again for the support!

[2020-07-21 10:34] #32 closed

[2020-07-22 07:33] kszosze commented on #44
Hi @erobertolima121 ,

any joy with that issue?

Cheers

[2020-07-22 22:59] erobertolima121 commented on #44
Hi @kszosze,

Sorry for the absence, there were some emergencies and I had to change the focus.

Tomorrow, I will hold a meeting with the area responsible for Kafka and the Schema Registry to clarify the possible way of connecting.

I will return to bring news.

Thank you for your usual attention.

[2020-07-23 13:14] kszosze commented on #44
hi @erobertolima121

no worries, if we can assists you in something, we have experience with Kafka and Big Data processing.

Cheers!!

[2020-07-23 13:15] kszosze commented on #45
Hi @JozefTomko,

any joy with that?

Cheers!

[2020-07-23 17:09] Meenu1242 opened #47 ""Not an array" AvroRuntimeException while loading subject in kafkaloadgenerator config in JMeter"
On clicking load subject in Kafka Load generator config, getting below error.

Org.apache.avro.AvroRuntimeException: Not an array:["null", {"type" :"array", "items" :{"type" :"record", "name" :"UserRule", "namespace" :"com.user.details","fields":[{"name":"code", "type" :"int"}, {"name" :"override", "type" :{"type" :"string", "avro.java.string":"string"}}]}}]

Below is the avro schema.
{
"type":"re

[2020-07-23 19:54] kszosze commented on #47
HI @Meenu1242 ,

I´ll take a look at it, asap.
Can you please add the full stack trace with the error?

Thanks for the feedback!

[2020-07-23 20:22] kszosze commented on #47
Hi @Meenu1242,

I have a branch with a solution, Do you mind try it?
I think it will solve your problem.
Cheers!

[2020-07-24 14:30] Meenu1242 commented on #47
Thanks a lot. The issue is resolved. Appreciate your quick response!

[2020-07-25 12:16] #47 closed

[2020-07-27 08:40] Meenu1242 opened #49 "Duplicate array item issue in Kafka Load generator"
In Kafka Load Generator config option in JMeter, when we hard code one value for an array field, the load generator is duplicating the value multiple times. Is there a way to restrict the number random generator to generate values only once in this case?

Example: There is an array as address[] and 2 fields under it as address[].addressId and address[].city and I have set addressId as 1 and city a

[2020-07-27 11:45] codigoFuentes commented on #49
Hi Meenu1242.

In your case, you should insert the number of times you want to execute in the "Field Name" section in the middle of the square brackets, such as "address [1] .addressId". This is better explained in readme file, please take a look at it and if you have any questions, we will help you with whatever.

Best regards.

[2020-07-28 02:14] Meenu1242 commented on #49
Thanks for the clarification. Issue is resolved.

[2020-07-28 02:14] #49 closed

[2020-07-28 16:04] Meenu1242 opened #50 "Duplicate values generated in random tool"
Hi Team,

When using the Kafka Load Generator config, I have an integer field Customer Id for which I haven't set a definitive list and would like random number to be generated.

However, I see same number getting duplicated 3 out of 6 times. Is there a way to ensure the duplicates aren't generated or atleast reduce the frequency? I checked the documentation provided but couldn't find any solution

[2020-07-28 16:29] codigoFuentes commented on #50
Can you show me the test you are using?

[2020-07-28 16:46] Meenu1242 commented on #50
I work in a secure network. So unfortunately, will not be able to show the test

[2020-07-28 19:32] codigoFuentes commented on #50
Ok. The Field Value List in Costumer Id is empty??

[2020-07-29 00:45] Meenu1242 commented on #50
Yeah. That's right

[2020-07-29 06:16] codigoFuentes commented on #50
As an implementation detail, when no size is indicated in the Field Length, random numbers between zero and nine will be generated. This behavior is like this In order to avoid generating large numbers. This clarification is something that we will add in the documentation. I hope this helps.

[2020-07-29 10:11] Meenu1242 commented on #50
OK. But if I specify value in Field length , it is not allowing me to edit any other field and is not considering the field length input as well. Error is seen in Jmeter console logs.

Format of input in Jmeter Kafka Load generator config:
Field Name ¦ Field type ¦ Field length ¦ Field value ¦
CustomerId ¦ String ¦ 5 ¦ []

Error displayed:
Org.apache.jorphan.util.JmeterError: Cant find method net.

[2020-07-29 15:31] codigoFuentes commented on #50
In order to reproduce the error, can you copy the entire error trace to me? And can you show me what you have in lib/ext folder?

[2020-07-30 14:11] JozefTomko commented on #45
Hi @kszosze
Sorry for the slow response.
Branch works great, issue is fixed. Thanks for fast resolve.

[2020-07-30 14:46] #45 closed

[2020-07-30 16:01] Ramprasad2505 opened #51 "Publish to Kafka using partitionkey"
Hi,

Is there a way to send partitionkey along with topic name and message to Kafka through this plugin?

[2020-08-03 06:02] kszosze commented on #51
Hi @Ramprasad2505 ,
For now it's not possible. Generated key if Flag is True, will be an UUID. But it's in our roadmap to add for the next release.
Do you require such feature?
Cheers!!

[2020-08-04 08:42] Meenu1242 commented on #50
Unfortunately I do not have an option to share the details as it is in restricted network. However, as a workaround, I was able to create an input csv with a definitive set of values and run the test against that. With this, the number of duplicates were reduced and data was picked up sequentially from the csv file.

[2020-08-05 06:39] kszosze commented on #50
Hi @Meenu1242,
it's great you come up with a solution. But reading your last comment, you realize that you can generate a sequence of numbers just setting the type as seq right? It will generate a sequence starting from 1, or the value you put into the Field Value List.
Or you were requesting generate an unique number sequence, I mean generate a set of numbers without no one repeated.
Cheers!

[2020-08-05 18:59] erobertolima121 commented on #44
Hi @kszosze ,

I confirmed and to access the schema registry and read all registered AVROS I will need to authenticate using some type of certificate.

Can the plugin in the schema registry settings handle this situation?

[2020-08-06 08:14] kszosze commented on #44
Hi @erobertolima121,
we will take a look into it.
Are you able to provide an example dockerfile with your deployment?
Cheers!!

[2020-08-06 13:44] kszosze commented on #44
Hi @erobertolima121 ,
Just a thought in the meantime we are preparing a testing environment, in java rest calls typically you add the certificate in the keystore in for the jvm. Like those answers here .. https://stackoverflow.com/questions/875467/java-client-certificates-over-https-ssl.
Can you try if that approach work for you? Just need to add your server certificates with the keytool in the th

[2020-08-31 07:57] kszosze commented on #51
Hi @Ramprasad2505,
here we had prepared a candidate to Message Key Management.
If you wanna try the branch to see if fits your needs ..
Cheers!!

[2020-08-31 07:58] kszosze commented on #50
Closing this issue due inactivity.

[2020-08-31 07:58] #50 closed

[2020-09-08 17:34] hariprasad5a0 opened #54 "schema is not able to determine the array having optional array"
2020-09-08 23:26:19,331 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Java Request'.
org.apache.avro.AvroRuntimeException: Not an array: ["null",{"type":"array","items":{"type":"record","name":"PCC_Array_Details","namespace":"com.bell.pec.out.data","fields":[{"name":"LOB_PCC","type":{"type":"array","items":{"type":"record","name":"LOB_Details_PCC","fields":[{"name":"LOB_Code","type"

[2020-09-08 20:58] kszosze commented on #54
Hi @hariprasad5a0 ,
Can you provide an example AVRO file with this case so we can test it?
Cheers!

[2020-09-08 20:59] #51 closed

[2020-09-08 22:16] kszosze commented on #54
HI,
I prepare a branch with a possible fix.
Do you mind test it if it works for you?

Cheers!!

[2020-09-09 05:33] hariprasad5a0 commented on #54
hi @kszosze

now its working fine but getting below exception.

2020-09-09 10:48:53,270 ERROR n.c.k.s.ConfluentKafkaSampler: Failed to send message
org.apache.kafka.common.errors.SerializationException: Error retrieving Avro schema: {"type":"record","name":"PredictionEvent_output","namespace":"com.bell.pec.out.data","doc":"Avro schema representing PEC realtime prediction event output data ","field

[2020-09-09 06:24] kszosze commented on #54
Hi @hariprasad5a0,
That usually happen when the subject from the AVRO schema differs form the ones the Schema Registry has.
I saw that couple of times when pre saved test plans try to send data and the subject change its name in the Schema Registry.
From the stack trace you shared I cannot see the subject name. Can you please provide a JMX test plan? If you cannot because privacy restrictions, Can

[2020-09-09 10:27] vcbkarthi opened #56 "Schema Registry URL is behind a proxy"
i can access the schema registry URL in browser and its behind a proxy , need to know how do i use that in schema registry config element

[2020-09-09 10:28] vcbkarthi commented on #56
when i use the schema registry url in the config it says connection time out

[2020-09-09 11:51] hariprasad5a0 commented on #54
hi @kszosze

above issue is resolved now but we are getting the below error. and attached the

org.apache.kafka.common.errors.SerializationException: Error serializing Avro message
Caused by: java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Float

![image](https://user-images.githubusercontent.com/70971663/92594740-dafedd80-f2c0-11ea-8e3a-b407789909a2.png)

[2020-09-09 21:11] kszosze commented on #54
Hi @hariprasad5a0,
usually we prefer one issue ticket by problem, but here I already have the solution.
As you could read in the documentation we don't support Float type.. But I'll push a fix so you can test it.
I'll reuse the previous branch.
Waiting for feedback.
Cheers

[2020-09-09 21:19] kszosze commented on #56
Hi @vcbkarthi ,
that's odd. We never tried with a proxy in between, but we are gonna investigate it.
Cheers!!

[2020-09-09 21:20] kszosze commented on #44
Hi @erobertolima121,
Still on it... Had you the chance the try my list suggestion?
Cheers!!

[2020-09-10 05:29] vcbkarthi commented on #56
Running jmeter with proxy has solved the problem . But landed in another
issue . Which I believe is network issue.

Thanks for emailing me

On Wed, 9 Sep 2020, 22:19 Jose Enrique, <notifications@github.com> wrote:

[2020-09-10 06:02] kszosze commented on #56
HI @vcbkarthi,
I´m glad you could do it.
Thanks for the feedback!

[2020-09-10 06:02] #56 closed

[2020-09-11 15:47] hariprasad5a0 commented on #54
hi @kszosze

Now it is working fine.

[2020-09-11 15:47] #54 closed

[2020-09-21 14:31] vcbkarthi opened #57 "Parametrize the Kafka Load Generator Config"
Hi is it possible to parameterize the Kafka Load Generator Config field list values ?

my scenarios is message.key.value have to be unique for every 4 consecutive messages that we post to Kafka

1) i need to generate a unique value for the message.key.value
2) parameterize the Kafka Load Generator Config field list values

will normal CSV data config will work here to pass the messages ( this is t

[2020-09-21 14:44] kszosze commented on #57
Hi @vcbkarthi,
in order tu solve your problem, there are couple of ways to do it; without see your test plan.
We support a "seq" type which is like a workaround to generate a sequences of numbers, you can define the starting value in the Field Values List.
We also support JMeter variable replacement, just  add the jmeter variable name in the Field Values List like a normal JMeter  component "${ na

[2020-09-21 14:53] vcbkarthi commented on #57
i define a loop just for the Kafka Load Generator Config correct ?

[2020-09-21 14:55] kszosze commented on #57
Well ideally you define the properties in the Thread element or in the Test Plan Element there are some values where you can define how many iterations you will run.

[2020-09-29 08:24] Kara4un opened #58 "Custom properties"
Hi!

In readme we can find

[code]

I am trying to add
_ssl.enabled.protocols = [TLSv1.2]

and some other props to Kafka Producer Properties below default props. But it seems that it's not working. After each start jmeter deletes this custom props, and I see only defaults in log output.

Is this feature work properly, or I do something wrong?

Apache jmeter 5.2.1
KLoadGen 2.1.2

[2020-09-29 09:28] kszosze commented on #58
Hi @Kara4un,
we are gonna take a look into it.
Is possible for you to share the test plan (or a similar one) so we can try to reproduce the issue?
Cheers!!

[2020-09-29 09:57] Kara4un commented on #58
Thx a lot.
This is jmeter jmx for this test plan

https://drive.google.com/file/d/1qI1ntToheCCgGMXIbLezgfYsr00b3JB2/view?usp=drivesdk

[2020-09-30 02:22] kszosze commented on #58
Hi @Kara4un,
issue is most a "way how jmeter works" It looks like it reload the default properties set and remove whatever is not there. We are extending a JMeter component for the Sampler instead to use our own (change that is in the roadmap, somewhere).
For now, please send me the properties you will need and I'm happy to add them asap.
Cheers!!

[2020-09-30 08:35] Kara4un commented on #58
Hi @kszosze
This is the list of prop, that i need to add in my config list

client.id
key.serializer
security.providers
ssl.enabled.protocols
ssl.endpoint.identification.algorithm
ssl.enabled.protocols
ssl.keymanager.algorithm
ssl.keymanager.algorithm
ssl.protocol
ssl.keystore.type
ssl.provider

It would help me a lot, if you can add them

[2020-09-30 09:48] kszosze commented on #58
Hi @Kara4un
I'll add those but keep in mind that we provide 3 samplers, Confluent, Generic and KafkaSampler (our Own Custom one), that meand the key.serializer is only configurable in the GenericKafka, since Confluent is using confluent.io ones and KafkaSampler is using the StringSerializer for keys and one custom simple implementation for values. You still need that property added? in which sampl

[2020-09-30 10:11] Kara4un commented on #58
Hi!

@kszosze I got an idea with serialization. I think we can work without this property.

Yeah, I mean, send them empty with no value. Because due to our authorization mechanism on kafka, we got an "ssl error" when producers ssl.endpoint.identification.algorithm has value differ from empty string. The default value of this prop is "https" and it is not working for us.

[2020-09-30 17:30] kszosze commented on #58
Hi @Kara4un,
I have a branch with those new properties. Can you please if that works for you?

Regards

[2020-10-01 09:26] Kara4un commented on #58
Hi @kszosze

Yeah, i will try it today

[2020-10-01 15:09] Kara4un commented on #58
Hi again @kszosze

It near perfect now, but I have one important addition

It seems, that we should remove
defaultParameters.addArgument(ProducerConfig.SECURITY_PROVIDERS_CONFIG, "");
defaultParameters.addArgument(SslConfigs.SSL_PROVIDER_CONFIG, "");

From config list. The reason is that if they are absent in config, kafka client pass default JVM provider classes and it's not working if they are e

[2020-10-05 08:25] kszosze commented on #58
Hi @Kara4un,
I can remove them if no value comes, That will suit to your case I guess.
Cheers!

[2020-10-05 09:44] Kara4un commented on #58
Hi! @kszosze

Yes it seems perfect. Thank you!

[2020-10-05 10:18] kszosze commented on #58
Hi @Kara4un,
Can you confirm this branch solve all ?
So I can merge it.
Cheers!

[2020-10-05 15:59] kszosze commented on #57
Close due not feedback/answer

[2020-10-05 15:59] #57 closed

[2020-10-05 16:00] kszosze commented on #44
Close due not feedback/answer

[2020-10-05 16:00] #44 closed

[2020-10-09 13:22] shuwnyuantee opened #60 "Kafka Load Generator Config: Failed retrieve schema properties: subject not found, error code 40401"
I'm running JMeter 5.3 on Mac, and added your plugin. I would like to use JMeter to load test Kafka with Schema Registry, where the messages are AVRO encoded.

I have configured `Schema Registry Config Element` as attached. When I clicked on `Test Registry`, it shows successful connection to schema registry, with number of subject in Registry: 1 .

![Screen Shot 2020-10-09 at 8 53 20 PM](https://u

[2020-10-10 14:11] shuwnyuantee commented on #60
I checked the logs of my schema-registry server:

1. In `Schema Registry Config Element`, when `Test Registry` button is clicked, my schema-registry server's log shows:

[code]

When this HTTP request is sent from browser, the result shows:

![1](https://user-images.githubusercontent.com/614382/95657000-988d2280-0b44-11eb-8bf1-ac6c63ba6bde.png)

2. In `Kafka Load Generator Config`, when `Load Subj

[2020-10-10 14:17] kszosze commented on #60
Hi @Shuwn Yuan,
that's a great investigation job!!
it looks like a bug to me.
I'll handle it and will provide fix in a branch.
I'll let you know asap.
Cheers!!

[2020-10-10 14:52] shuwnyuantee commented on #60
@kszosze  Thanks for your reply, looking forward for the fix   🙏  🎉

[2020-10-10 15:52] kszosze commented on #60
Hi @shuwnyuantee,
There is an small fix in the branch, can you please try it and see if that solves your issue?
Cheers!

[2020-10-12 13:13] shuwnyuantee commented on #60
@kszosze  Thanks for your fix, the subject names are loaded properly now 🙏  🎉

But I run into another error, when my AVRO schema contains nested field types, eg:  map of string, array of string, and array of map.

I attach full details here for your reference:

1. AVRO schema file with nested field types (the file extension is renamed to `.avsc.txt` as I can't upload `.avsc` file here)

[test-10.a

[2020-10-13 06:16] kszosze commented on #60
Hi @shuwnyuantee,
glad to hear first issue was fixes, I'll merge it and will take a look to the second one.
Nested types are a bit of a headache.

Cheers!!

[2020-10-13 07:26] kszosze commented on #60
Hi @shuwnyuantee,
I took a look into this avro file, and, that make sense? having an optional map with optional values? Syntactically is correct, but logically make any sense? Do you really need that to be supported?

Cheers!!

[2020-10-13 08:09] shuwnyuantee commented on #60
@kszosze  yes, I need those nested fields types to be supported.

My actual AVRO schema contains many other fields, where most of them are simple field types, eg: string, int, long, boolean.

What I have attached previously, is the simplified schema which only contains nested fields that aren't currently supported in your plugin.

[2020-10-13 22:56] kszosze commented on #60
Hi @shuwnyuantee,
I added some code to support those embedded types no need. Can you please test if the branch suits your needs?

Regards!!

[2020-10-14 09:10] #58 closed

[2020-10-14 13:04] shuwnyuantee commented on #60
@kszosze  Thanks for your fix & here's what I encounter:

1. Here's my config in `Kafka Load Generator Config`.

![map_array](https://user-images.githubusercontent.com/614382/95990344-f4fe8380-0e5d-11eb-9774-42de55d98815.png)

It works for `string-map`.

But for `string-array` & `string-map-array`, they are always sent as `null`. Here's a sample message that is read from my kafka broker:

[code]

[2020-10-14 13:28] kszosze commented on #60
Hi @shuwnyuantee,

that is odd, I tested with a full example before commit and add your previous txt file in our tests.
I'll take a look later.
About the array/map size, the value should be in the first attribute it shown, between the [], as you did. So it will generate as many array elements as you indicate there. The value length is used by the Random Engine to calculate values not "bigger than

[2020-10-14 16:38] shuwnyuantee commented on #60
@kszosze  Thanks for your explanation.

1. I would like to generate `string-map` field type like below.

[code]

How do I specify this in `Kafka Load Generator Config` for Field Name / Type / Length / Values List ?

I need the map to always contain 2 fixed keys: `id, legacyId`.

For their values, how do I specify a list so it can be picked up randomly, for both `id` & `legacyid` respectively?

Can

[2020-10-14 17:02] kszosze commented on #60
Hi @shuwnyuantee,

I'll provide JMX file in the next commit and I'll edit the avsc so you can get this type of object for the point 1.
related to the point 2 it will be covered in the example point 1.
Related to the 3, yes is a bug I'm solving right now.
Cheers

[2020-10-14 18:03] kszosze commented on #60
Hi @shuwnyuantee,
Fix had been uploaded, and a new Example test with variable generation and substitution.
Hope now you can perform the test you require.
Cheers!!

[2020-10-15 03:32] shuwnyuantee commented on #60
@kszosze  I tried building package with your latest code, the build failed with test failures:

[code]

[2020-10-15 06:18] kszosze commented on #60
Hi @shuwnyuantee
that is right, my apologize. A last minute change fixing the bug and that test remain unchanged. Now it should build ok. At least for me it's building.
Answering a previous question you made, I tested with jmeter 5.3 and I haven't any problem. I'm also building with Java 8+ and no complains so far.
My apologizes for the failing build.
Cheers!

[2020-10-16 14:05] shuwnyuantee commented on #60
@kszosze  Thanks for fixing the test, I can compile it successfully 🎉  👍

Also tested the `string-map` field works with variable substitution from preprocessor.

I have another minor request here.

Below are some details for my test case:

1) Kafka Load Generator Config
![kafka_load_generator_config](https://user-images.githubusercontent.com/614382/96267859-e4cfdb00-0ffa-11eb-9f31-287e1f88bede.png

[2020-10-17 04:36] shuwnyuantee commented on #60
@kszosze

Please ignore my request above. I realised that the schema subject name can be configured via `value.subject.name.strategy`.
The default is set to `io.confluent.kafka.serializers.subject.TopicRecordNameStrategy`. After configuring it as below, my issue is resolved.

[code]

My bad, sorry for the confusing request above.

[2020-10-17 07:43] kszosze commented on #60
Hi @shuwnyuantee ,
No worries, glad you managed to solve the issue.
Just was close to answer about the different configuration properties and the two other samplers, we have.
But if you are happy now I'm happy too.
Mean that you approve the changes?
Cheers and happy weekend.

[2020-10-17 08:33] shuwnyuantee commented on #60
@kszosze

Millions thanks for providing this awesome plugin, appreciate your great work  🙏

I thought I will just raise few minor issues I came across during testing. Maybe it helps in your troubleshooting.

1. For `string-map` field type, setting the map size inside `[]` sometimes gives the wrong size in result.
Setting `mapOfString[5]`  -> but the result shows 4 key-value pairs.

![kafka_load_ge

[2020-10-19 06:34] kszosze commented on #60
HI @shuwnyuantee,

Really thank you for your feedback!! I appreciate it a lot.
I'll to fixit asasp.

Cheers!!

[2020-10-19 07:42] kszosze commented on #60
Hi @shuwnyuantee,
I was able to reproduce and fix all the issues but the list one. I'm not able to reproduce it. I tried with several avros, big/small and different types, string, int, log, string-map, string-map-array.. and I could get that error you said.
Can you please tell me what jvm are you using?
Cheers!

[2020-10-19 08:17] shuwnyuantee commented on #60
@kszosze  Thanks for looking into this.

Sorry, which issue you said you can't reproduce? Is it the last one with `Field Length` error?

I'm running JMeter 5.3 on Mac, with your plugin version 2.1.3. Here's my Java version:

[code]

[2020-10-19 10:06] kszosze commented on #60
hi @shuwnyuantee,
I think I deal with all the issues.
Last one the field lenght error was cause by the version of JMeter, we had the 5.2.2 in the code and you were using the 5.3. Looks something change between versions.
But last changes in the branch should solve it.
Can you please try it?
cheers

[2020-10-24 13:30] shuwnyuantee commented on #60
@kszosze , sorry for my late reply.

I find the below issues are solved.

- In java request, with ConfluentKafkaSampler, the last config of `auto.register.schemas` no longer appears duplicated.

- When trying to set `Field Length`, it no longer throws error.

Thanks & appreciate your great help 🙏  🎉

[2020-10-28 08:23] #60 closed

[2020-11-02 17:27] Desire456 opened #63 "Schema JSON type Schema Registry Client version 5.5.1"
With client version 5.5.1 I can't work with JSON schemas - this is my problem.

In SchemaExtractorImpl.java schemaRegistryClient use deprecated method getById(int id), and in this method:
`ParsedSchema schema = this.getSchemaById(id);
        return schema instanceof AvroSchema ? ((AvroSchema)schema).rawSchema() : null;`

If our schema is JsonSchema we got NPE. And main problem - ParsedSchema in c

[2020-11-03 07:35] kszosze commented on #63
HI @Desire456,
Can you please provide some test plan and json schema format as a way to test the solution?
Cheers!

[2020-11-03 07:41] Desire456 commented on #63
Hi @kszosze,
There are test plan and json schema.
[test-plan-schema.zip](https://github.com/corunet/kloadgen/files/5479811/test-plan-schema.zip)

[2020-11-03 20:30] nitya122008 opened #64 "Limiting the size of a string-array"
I have a weird schema with an array of objects
Something like this:
{
	"uuid": "d7fa5207-3ba5-4517-8d5a-256066d26e88",
	"type": "whatever",
	"data": [{
		"attribute": "name",
		"valueList": ["John"],
		"operator": "match"
	}]
}

When i use the plugin as in the below screenshot:
![image](https://user-images.githubusercontent.com/52054951/98036813-a4d56a00-1de8-11eb-8744-950e42b46050.png)

a) I am u

[2020-11-05 15:03] vcbkarthi opened #65 "Producer properties : message.key.value to be unique for each loop"
HI

there is a scenarios to use unique message key value for each iteration of the loop . but even if i use a time function for example
${__threadNum}_${__time(ddMMyyyyHHMMSS)} like this it always takes the first value as message key for the next iteration also .

but i need this to change , is there a way to achieve this ?

[2020-11-05 21:31] kszosze commented on #64
HI @nitya122008 ,
we will take a look into this and will offer soon a solution.
Cheers!

[2020-11-05 21:32] kszosze commented on #65
HI @vcbkarthi,
we will take a look into it soon.
Can you please upload a test plan with that scenario please?
Cheers!!

[2020-11-05 22:59] kszosze commented on #63
Hi @Desire456,
There is a branch with a first approach to support Json Schema..
Can you please test if that suits you?
Cheers!!

[2020-11-06 10:38] Desire456 commented on #63
Hi @kszosze,
Test plan what I attach first time work fine. But in the same test plan I with this json schema I have this stacktrace while I'm trying load subject.
[schema.zip](https://github.com/corunet/kloadgen/files/5500748/schema.zip)

[code]

[2020-11-06 10:50] Desire456 commented on #63
And why when I run test with json schema subject my program is using AvroLoadGenerator instead JsonLoadGenerator?
Thank you for help!
Cheers!

[2020-11-06 14:07] kszosze commented on #63
Hi Vladimir,
actual implementation doesn't support optional fields as your schema looks to have. We are working on it.
Cheers

[2020-11-06 15:06] Desire456 commented on #63
I'm using Draft-07 version. This schema is being validated by org.everit.json-schema.
Cheers!

[2020-11-07 08:44] kszosze commented on #63
I think it validates becouse anyOf, oneOf, allOf only requires an array of valid Json, and that is what you have, but for nullable properties the way is use an array of types... as you can see [here](https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.7.7.1.1) and [here](https://json-schema.org/draft/2019-09/json-schema-core.html#rfc.section.7.6.1) I saw your format [here](http

[2020-11-09 07:05] Desire456 commented on #63
Ok. But if I use anyOf, oneOf, allOf without null-type I don't see types and properties for my schema. It is normal? For example, schema: [schema.zip](https://github.com/corunet/kloadgen/files/5508619/schema.zip)
Cheers!

[2020-11-09 07:55] kszosze commented on #63
I think you want to have a property with multiple possible types, what as far as I know it is not possible with json-schema... here you can see the [specification](https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.6.1) that in theory it should but there are couple of issues about [here](https://github.com/OAI/OpenAPI-Specification/issues/458) and [here](https://github.c

[2020-11-09 08:14] Desire456 commented on #63
But official Draft supports multiple types: https://json-schema.org/understanding-json-schema/reference/combining.html#allof. I'm really need that. If u don't do this say me about this please!
Cheers!

[2020-11-09 08:20] kszosze commented on #63
Well documentation say so and also they say no. We can give a try, I'll prepare something to handle that.

[2020-11-09 08:22] Desire456 commented on #63
Thanks you!

[2020-11-09 10:16] kszosze commented on #63
Hi Vlad,
I just added some code to support that.. do you mind test it in you use case if it fit?
Cheers

[2020-11-09 10:55] Desire456 commented on #63
Hi Jose,
That works better, but I want to see muti types in field type column Jmeter. For example: oneOf : {string, integer} : field type - string, integer. Can you do it?
Cheers!

[2020-11-09 11:01] kszosze commented on #63
Well, that cannot be possible with this tool, since we use those value on the table to generate the artificial objets which will be sent to the topic. But that field is editable, so you can replace string or integer as you need.
For now is the most we can do. Is in our roadmap create a better component but still on consideration.

[2020-11-09 11:04] Desire456 commented on #63
Ok, thank you very much!!

[2020-11-09 11:15] kszosze commented on #63
So current approach works for you? without the double representation for multiple types? can you produce valid messages and deserialise them correctly?

[2020-11-09 12:25] Desire456 commented on #63
Not sure about correct message. Because in AKHQ if my schema is json - I see that :
![image](https://user-images.githubusercontent.com/49342498/98540769-dbf3c180-22a7-11eb-98c4-c77c299b963e.png).
But if I use avro - I see that:
![image](https://user-images.githubusercontent.com/49342498/98540828-ef9f2800-22a7-11eb-9ab1-0640c70b02d5.png).
First symbols for KafkaSerializer in AVRO case exist.
And I

[2020-11-09 12:53] kszosze commented on #63
Had you configure the serialiser as KafkaJsonSchemaSerializer? or are you trying to use the AVRO one?

[2020-11-09 12:55] Desire456 commented on #63
Yes, I configure the serializer as KafkaJsonSchemaSerializer.
![image](https://user-images.githubusercontent.com/49342498/98543772-62aa9d80-22ac-11eb-9016-ee6ff27a5b00.png)

[2020-11-09 13:37] Desire456 commented on #63
Sorry for null keys. It's my bad: I don't use property keyed.message...
Cheers!

[2020-11-09 14:22] kszosze commented on #63
No problem, so now what is the status?

[2020-11-09 14:26] Desire456 commented on #63
First unreadable symbols for schema in case of JSON doesn't exist.
What I get:
![image](https://user-images.githubusercontent.com/49342498/98553323-f1251c00-22b8-11eb-982f-d93efd31556a.png)
What I want:
![image](https://user-images.githubusercontent.com/49342498/98553451-1154db00-22b9-11eb-9c39-f45ba738a922.png)
Without this symbols KafkaJsonSerializer can't deserialize my data.

[2020-11-09 14:27] vcbkarthi commented on #65
[sampleKafka.zip](https://github.com/corunet/kloadgen/files/5511112/sampleKafka.zip)

attaching the sample

[2020-11-09 14:29] vcbkarthi commented on #65
i have changed the thread group to arrival thread group so  that , every iteration becomes a new thread , this has solved the issue , but it could be helpfull if the iterations can create a new unique message in the message key

[2020-11-09 14:38] kszosze commented on #63
Well, we generate a JSON object and then client apply the serialiser you have configured. We will take a look about the serialisation process.
Cheers!!

[2020-11-09 14:39] Desire456 commented on #63
Yes, thank you.
Cheers!

[2020-11-10 00:15] kszosze commented on #65
As it works, we recover the variables JMeter from the context and replace the placeholders you put into the "message.key.value" every time a message is created and send. In order to generate different values you need to generate them in a thread group or in a loop controller, but adding to the context variables.
Seeing your expression, I can see you added the functions into the request configurati

[2020-11-10 15:31] nitya122008 commented on #64
Hi @kszosze ,
Do you think you might be able to help with item number a) on priority if you get a chance please?

[2020-11-10 15:37] kszosze commented on #64
Hi @nitya122008,
apologizes for the delay, had been a really busy week in our main task. But we are gonna be able to have something before weekend.
Cheers!!!

[2020-11-10 22:48] saddaguduru opened #66 "NoClassDefFoundError when using kloadgen-plugin-2.1.3.jar in JMeter 5.1.1"
[pom.zip](https://github.com/corunet/kloadgen/files/5520619/pom.zip)

Getting below error even though I don't have "log4j-slf4j-impl-2.11.1.jar" in JMeter/lib folder. Attached the pom.xml that I used to build the kloadgen-plugin-2.1.3.jar.

C:\gitRepos\jmeter-5.1.1\bin>jmeter.bat
SLF4J: Class path contains multiple SLF4J bindings.
SLF4J: Found binding in [jar:file:/C:/gitRepos/jmeter-5.1.1/lib/log

[2020-11-10 22:53] saddaguduru commented on #66
Thanks for the comment. I did not create any JMeter test plan. I got the error when launching the JMeter tool after copying the kloadgen-plugin-2.1.3.jar under my JMeter-5.1.1\lib\ext folder and JMeter is not starting up.

[2020-11-11 00:48] kszosze commented on #63
Hi Vlad,
sorry for the delay, busy days.
I have a new candidate. I was able to consume messages generated with the KafkaJsonSerializer.
Can you please verify that solves your problem?
Cheers

[2020-11-11 13:20] Desire456 commented on #63
Hi Jose!
Yes, it's solved my problem!
Please help me If I want to set auto.register.schemas = false in kafka producer properties: what I must do? Just add new property in java request doesn't work.
Cheers!

[2020-11-11 13:23] kszosze commented on #63
HI Vlad,
It should work if you added that property. I'll double check the java request properties. Which Sampler are you using? Confluent?

[2020-11-11 13:30] Desire456 commented on #63
GenericKafkaSampler. I add this property and it deleted. I don't know why

[2020-11-11 13:59] kszosze commented on #63
Aye, is a weird behaviour of the latest versions of JMeter.. whatever property is not in the default set is removed. Still analysing if is a feature or a bug.
We design Generic and Kafka Samplers to be able to work without an schema registry, just allowing upload a file and send messages, so is why that property is not in the default set.

[2020-11-11 17:26] kszosze commented on #63
Hi Vlad,
added the property as default for now.
Now you can enable and or disable as you wish.
Cheers!!

[2020-11-11 17:32] Desire456 commented on #63
Hi Jose,
Thank you very much!
Cheers!

[2020-11-11 23:32] kszosze commented on #66
HI @saddaguduru ,
we support jmeter from version 5.2.1 and 5.3 over java 8+. You can modify the POM to remove the org.apache.logging.log4j dependencies which cause the problem but later on you will face other funny issues due the dependencies we package in the jar.
My advice is you upgrade later JMeter versions.
Regards.

[2020-11-11 23:34] kszosze commented on #65
Hi @vcbkarthi,
Any luck with my latest comment.
Regards!!

[2020-11-12 09:59] codigoFuentes commented on #64
Hi @nitya122008
Apologies for the delay, we have a pull request(add array extractor changes #67) that we think may solve your issues. These changes will allow you limit the number of values in the array and add multiple objects into a list with specific data.

[2020-11-12 17:22] nitya122008 commented on #64
I took this code and i keep getting "Topic cannot be null" error. I have the topic available and I have set it in the kafka.topic.name attribute as well. I am able to manually place messages into that topic but through Jmeter, i keep getting the error.

![image](https://user-images.githubusercontent.com/52054951/98973425-b94ced00-24e1-11eb-830c-5c6be442dcce.png)

Would you know what i might be doi

[2020-11-12 17:47] codigoFuentes commented on #64
Can you attach and example AVRO and an example Test Plan in order to be able to reproduce the error?

[2020-11-12 17:56] nitya122008 commented on #64
Sample Avro :

[code]

[2020-11-12 18:00] nitya122008 commented on #64
Load Generator Config:
![image](https://user-images.githubusercontent.com/52054951/98977816-0aabab00-24e7-11eb-8ec8-344c956df2ea.png)

[2020-11-12 18:27] nitya122008 commented on #64
I see that the error occurs in ConfluentKafkaSampler line# 85
` props.put(ENABLE_AUTO_SCHEMA_REGISTRATION_CONFIG, context.getParameter(ENABLE_AUTO_SCHEMA_REGISTRATION_CONFIG));`

2020-11-12 13:23:19,908 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Java Request'.
java.lang.NullPointerException: null
	at java.util.concurrent.ConcurrentHashMap.putVal(ConcurrentHashMap.java:1011) ~[?:?

[2020-11-13 22:31] saddaguduru commented on #66
Thanks @kszosze for the info. I will upgrade my JMeter and try again.

[2020-11-16 20:15] nitya122008 commented on #64
Would you be able to please guide me with this?

[2020-11-17 06:51] codigoFuentes commented on #64
Can you test this new arrangement and give me your feedback?

[2020-11-17 14:07] nitya122008 commented on #64
The above errors are after using the new code that you gave me.

[2020-11-17 14:14] kszosze commented on #63
HI @Desire456,

Hd you been able to success on your tests?

Regards

[2020-11-17 14:56] codigoFuentes commented on #64
Sorry.I have just added changes so can you please test it now?

[2020-11-17 15:39] Desire456 commented on #63
Hi @kszosze,

Yes, thank you.

Cheers!

[2020-11-17 21:38] nitya122008 commented on #64
hi @codigoFuentes,

I am now able to limit the number of items in the valueList[]. For example
data[1].valueList[2] generated the values like this :
{"uuid":"37dc30ff-195f-4467-89f2-fb9d95d6a682","type":"size","data":[{"attribute":"rolling_date","valueList":["200","100"],"operator":"greater"}]}
![image](https://user-images.githubusercontent.com/52054951/99453593-2a7e0d00-28f3-11eb-8b7a-9583de214c2

[2020-11-18 07:33] codigoFuentes commented on #64
The values that you enter in the valueList [] are used as a reference set just like the enumerated types. In your case you should generate the values outside and pass them as a variable.

[2020-11-18 18:50] #64 closed

[2020-11-19 07:43] kszosze commented on #65
"i have changed the thread group to arrival thread group so that , every iteration becomes a new thread , this has solved the issue , but it could be helpfull if the iterations can create a new unique message in the message key"
I think we have a tiny hole in our documentation, if you specify a type in "message.key.value" like string, int, uuid... it will generate random values of this type. We wi

[2020-11-30 05:52] vitalee78 opened #68 "no messages are sent to kafka"
Hello!
trying to send a message to kafka - key and value. (see message_for_Kafka.json)
but in kafka consumer are empty
posting .jmx, avro schema and sample message for Kafka
[Jmeter.zip](https://github.com/corunet/kloadgen/files/5614017/Jmeter.zip)

and I`m using Classname .GenericKafkaSampler
if you connect ConfluentKafkaSampler then you get an error .NullPointerException: null

[2020-11-30 15:42] kszosze commented on #68
Hi Vitaliee,
I´ll check it later today and come you back.

Cheers

[2020-11-30 15:44] kszosze commented on #66
HI @saddaguduru ,
any luck with the upgrade?
Cheers

[2020-11-30 15:45] kszosze commented on #65
Hi @vcbkarthi,
Any luck with my latest comment.
Regards!!

[2020-12-01 00:08] kszosze commented on #68
Hi @vitalee78 ,

I took a look into your problem I saw couple of thinks.
a) an issue in the our generic serialiser which I fixed in the branch linked to this issue
b) a miss configuration in your JMX file. In order to add the Key into the message there was a flag name keyed.message which need to be enable ("YES" value) like the image attached
<img width="1032" alt="Screenshot 2020-12-01 at 01 03 1

[2020-12-01 03:03] vitalee78 commented on #68
Hi, Jose!
Thank you very much, I`ll definitely try today.

[2020-12-01 09:15] vitalee78 commented on #68
Hi, Jose!
if  look through ./kafka-**avro**-console-consumer then a error
![2020-12-01 12_03_07-Window](https://user-images.githubusercontent.com/25228760/100719830-32977b80-33ce-11eb-9801-ba920f297864.png)
but on version 2.1.3 it worked in avro format

if  through  ./kafka-console-consumer then no errors

[2020-12-01 21:29] kszosze commented on #68
HI Vitaliee,
my guess you are using the generic kafka sampler, that one only send the message as a normal Json so yo can read it with the normal kafka-console-consumer.. the schema is not sent and neither is serialised into an AVRO byte code.
KafkaSampler and Confluent does it. KafkaSampler allows you to choose which serialiser you want to use.
That solve your problem?
Cheers!

[2020-12-02 02:59] vitalee78 commented on #68
Hi, Jose!
Yes, I tried the probes.
if Confluent is just empty,
if Generic and KafkaSampler there is an error

[2020-12-03 08:56] vitalee78 commented on #68
Hi Jose!
I try Confluent, the message is not generated so the kafka is empty and the error is log Jmeter as follows
![ConfluentKafkaSampler](https://user-images.githubusercontent.com/25228760/100984036-34db1080-355b-11eb-9957-42536290637f.png)
and I use serialiser class - GenericRecordSerializer for key and value.serializer

If Kafka Sampler, the message is generated and sent to kafka, but the err

[2020-12-03 08:59] kszosze commented on #68
HI @vitalee78
is strange, can you please attach your latest test plan and current schema? I'll try to debug it and help you.

Cheers

[2020-12-03 09:13] vitalee78 commented on #68
[TestPlan_schema.zip](https://github.com/corunet/kloadgen/files/5634944/TestPlan_schema.zip)

[2020-12-03 10:31] kszosze commented on #68
Hi Vitaliee,
May is a matter of configuration.. I can send messages without no problem with generic and kafka, Confluent is failing because it cannot solve the schema name, but this is issue of my setup I guess.

<img width="1157" alt="Screenshot 2020-12-03 at 11 29 01" src="https://user-images.githubusercontent.com/302714/100997607-c007d680-355a-11eb-9733-750fd89e1a93.png">
can you please try wit

[2020-12-04 06:03] vitalee78 commented on #68
Hi kszosze!
you are not tired of me yet? ))

yes it also works for me if I look in kafka-console-consumer
and if you look in kafka-**avro**-console-consumer, then an error.
![2020-12-03 11_47_59-Window](https://user-images.githubusercontent.com/25228760/101126835-572d6680-360d-11eb-9527-31327207ecf4.png)

Our application reads in the topic in avro format and therefore I check in kafka-avro-console

[2020-12-04 08:09] kszosze commented on #68
Hi Vitaliee,
is not a problem help and not, I'm not tired of you.
What I'm seeing is you are using the same serialiser for key and value. That's the problem, Key is not an Avro document, so this serialiser should be use. Can you please change it back to the StringSerialiser one please?
_org.apache.kafka.common.serialization.StringSerializer_
I think that gonna work for you.
Cheers

[2020-12-04 08:17] codigoFuentes commented on #65
Closed by inactivity

[2020-12-04 08:17] #65 closed

[2020-12-04 08:18] codigoFuentes commented on #66
Closed by inactivity

[2020-12-04 08:18] #66 closed

[2020-12-04 08:19] #63 closed

[2020-12-04 09:08] vitalee78 commented on #68
yes, did the key in two versions - StringSerialiser works
And I realized that I misunderstood the task, talked to a colleague developer. Our application reads separately the key with its avro schema and the value with its avro schema
And I don’t understand, but what is the correct way to draw up a test plan and it is possible to do this in a plugin?
We need the key to be sent to avro too
[schemas.

[2020-12-04 09:31] kszosze commented on #68
Well, that's unusual, key usually are not codec in avro unless you where using the confluent system. Can you try using the io.confluent.kafka.serializers.KafkaAvroSerializer serialiser for the key?

[2020-12-04 09:59] vitalee78 commented on #68
I tried with ...KafkaAvroSerializer for the key
![2020-12-04 12_57_06-Window](https://user-images.githubusercontent.com/25228760/101149754-6c67bc80-3630-11eb-8a80-157b4e8819e1.png)

[2020-12-04 10:07] kszosze commented on #68
If you are using the confluent then your better option is go with the Confluent Sampler, it uses both confluent serialiser by default.. you tried that rigth? and give you some topic related issue?

[2020-12-04 10:18] vitalee78 commented on #68
Yes, tried  Confluent Sampler, also an error as in the last screenshot
and give me please some topic related issue

[2020-12-04 10:22] kszosze commented on #68
Ok I'll take a look into it today with your example test plan and back to you asap.

[2020-12-04 18:53] kszosze commented on #68
Ok I´m gonna need the key schema too in order to see why it´s not finding it the schema registry. Can you provide it also?
Cheers!

[2020-12-05 05:09] vitalee78 commented on #68
[schemas.zip](https://github.com/corunet/kloadgen/files/5646519/schemas.zip)
key schema and value schema

[2020-12-05 09:10] kszosze commented on #68
Hi Vitaliee,
after saw your Key Schema I realize we cannot handle it now. But we can implement it, it will take a couple days.
Are you interested in this feature so we will implement it?

Cheers

[2020-12-07 03:20] vitalee78 commented on #68
Hi kszosze!
Yes, we interested in this feature!
Thank you!

[2020-12-09 23:29] kszosze commented on #68
Privet Vitalee,

There is a branch linked to this ticket which a first approach for your request.
Is a breaking change, so you are gonna need to rewrite/tweak your test plan.
I upload one as an example about how to use it with your provided schemas.
Wish this gonna work for you.
[TestPlans.jmx.txt](https://github.com/corunet/kloadgen/files/5669313/TestPlans.jmx.txt)
Cheers!!

[2020-12-10 05:30] vitalee78 commented on #68
Hi kszosze!
I will try to do it today

Thank you!

[2020-12-10 20:52] Vichukano opened #73 "Avro binary encoder"
Add avro serializer with binary encoder, remove code duplication. #72

[2020-12-10 20:55] Vichukano commented on #73
#72

[2020-12-10 22:06] kszosze commented on #73
Thanks for collaborate, I really appreciate your work and help.

[2020-12-11 04:13] vitalee78 commented on #68
Hi kszosze!
trying to subtract testplan, error
![error_jmeter](https://user-images.githubusercontent.com/25228760/101860966-13dc7600-3b80-11eb-8c81-290fc250538a.png)

as I understood in the block
![block_xml](https://user-images.githubusercontent.com/25228760/101860978-1b038400-3b80-11eb-80fc-438dc373038b.png)

[2020-12-11 08:17] kszosze commented on #68
Hi @Vitalie,
are you using this branch https://github.com/corunet/kloadgen/tree/%2368_adding_avro_key_support ?
Can you please upload the JMX?
Cheers

[2020-12-11 10:34] vitalee78 commented on #68
sorry, I used old release
It works and now I can see our message, but in the topic the message sent to String?
because if you look in kafka-avro-console-consumer then the error
![2020-12-03 11_47_59-Window](https://user-images.githubusercontent.com/25228760/101893042-3ccb2e00-3bb5-11eb-894d-301b957a4d10.png)

if you look in a standard counsumer (kafka-console-consumer) it works fine
![string_topic

[2020-12-11 10:39] kszosze commented on #68
Ok i'll take a look asap

[2020-12-11 11:27] kszosze commented on #68
Ok i see.. Let's gonna change the Test plan for something like this...
ConfluentkafkaSampler as Java Request Sampler
and  serializers should be io.confluent.kafka.serializers.KafkaAvroSerializer.

like this image

<img width="1251" alt="Screenshot 2020-12-11 at 12 22 53" src="https://user-images.githubusercontent.com/302714/101898087-d42b8380-3bab-11eb-9ac1-1da6d3b0925c.png">

then you can see som

[2020-12-11 11:37] vitalee78 commented on #68
ok, I'll see it now

[2020-12-11 12:03] vitalee78 commented on #68
did, but I can't, there is an error on the jmeter side
message is not sent
![java_req](https://user-images.githubusercontent.com/25228760/101900768-18754e80-3bc1-11eb-8983-374823361d67.png)

![error_jmeter](https://user-images.githubusercontent.com/25228760/101900783-1dd29900-3bc1-11eb-90ce-c64a52faad47.png)

[2020-12-11 12:42] kszosze commented on #68
Which version of JMeter are you using? It sounds  the plugin jar hasn't build properly. That class is added in the build process as a dependency. Can you please double check there is only one kloadgen-plugin-X.X.X.jar in the lib/ext folder

[2020-12-11 13:12] #73 closed

[2020-12-11 13:50] kszosze commented on #68
Hi Vitaliee,
some new code had been merge in to master and bring it to this issue branch. There you will find a new Sampler, GenericBinaryKafkaSampler. Do you mind try this one?

Cheers!

[2020-12-11 14:05] vitalee78 commented on #68
yes, in the lib/ext folder  is only one, kloadgen-plugin-3.1.0.jar

and I try new code

[2020-12-11 14:50] vitalee78 commented on #68
I tried using GenericBinaryKafkaSampler but again the error is like in the last screenshot
it looks like I'm doing something wrong

[2020-12-11 15:49] kszosze commented on #68
Well. does is really odd. Can you please send me yout apache-jmeter.... folder to my email jegarcia at corunet dot com

[2020-12-12 03:37] vitalee78 commented on #68
Hi Jose!
There was a conflict with another .jar, I removed it and there is no error

and reproduced another error, applied GenericBinaryKafkaSampler, GenericConfluentKafkaSampler and GenericKafkaSampler
also in the message the key missing {idaction: 123}

![error_avro](https://user-images.githubusercontent.com/25228760/101971651-17393580-3c44-11eb-96f3-16d6194bc5a8.png)

[2020-12-14 08:26] kszosze commented on #68
well, we are getting better ... I'm asuming those errors are with the latest jmx file I sent to you or the one you sent to me or one new mix of both? I need to know in order to solve you problem.

Cheers!!

[2020-12-14 08:28] kszosze opened #75 "Adding support for protobuf"

[2020-12-14 08:29] kszosze opened #76 "Adding suppor for embedded avro documents/types"

[2020-12-14 08:48] vitalee78 commented on #68
with my JMX
[TestPlans - Copy.jmx.txt](https://github.com/corunet/kloadgen/files/5687563/TestPlans.-.Copy.jmx.txt)

[2020-12-14 11:18] kszosze commented on #68
I believe you are not using the latest version of that branch.. mainly because with just your jmx and only changing port of Schema Registry and Kafka brokers it give a good answer

<img width="1565" alt="Screenshot 2020-12-14 at 12 16 32" src="https://user-images.githubusercontent.com/302714/102075380-7050c700-3e06-11eb-9ecb-6551623a4a68.png">

[2020-12-14 12:28] vitalee78 commented on #68
I using this branch - https://github.com/corunet/kloadgen/tree/%2368_adding_avro_key_support, right?

[2020-12-14 12:48] kszosze commented on #68
That's the right one. Just was a merge problem with latest changes in Master. I just fix and push them. Can you try it.
Sorry for that.

[2020-12-14 13:13] vitalee78 commented on #68
yes, it works right now!

though for some reason in the 'View Results Tree' report there is red text, but there are no errors in the kafka there are messages in avro
![red_tree](https://user-images.githubusercontent.com/25228760/102084967-04cb2180-3e27-11eb-93a3-778320cbedcf.png)

at the moment it suits us, thanks!

[2020-12-14 13:27] kszosze commented on #68
Red means There is an error during the process. Please check the response, it should show the broker answer.

[2020-12-15 07:28] kszosze commented on #68
Hi Vitaliee,
any news about the red thing or this branch let's you run your tests?
Cheers

[2020-12-15 08:19] vitalee78 commented on #68
Hi, Jose!
our testing is working fine now,
but with red text, I did not find the reason, during load I disable this report

[2020-12-15 08:35] kszosze commented on #68
Strange, may be in the response data you can find some answers.
I'll close this issue then.
Cheers

[2020-12-15 08:53] vitalee78 commented on #68
in the response data - topic: name_topic, partition: 0, offset: 2358125

[2020-12-15 08:58] kszosze commented on #68
Forget it.. it was a tiny error in the response build. Is gonna be fixed in the next commit.
Sorry and thanks for the feedback!

[2020-12-15 09:17] vitalee78 commented on #68
ok,
that is, then I can take the build from the master?

[2020-12-15 09:23] kszosze commented on #68
Once I'll do the merge.. for now all changes are over the branch

[2020-12-15 09:28] vitalee78 commented on #68
ok,
thank you for the work done, now we are using it for our tasks.
we have another point when generating data, but this is not critical, so maybe we will turn again

[2020-12-15 09:38] #68 closed

[2021-01-07 08:33] raheelazhar1 opened #77 "Kafka File Load Generator Config Element Issue and Errors"
Hi,

First of all, thanks for building this wonderful plugin! I have used it successfully for some cases but seeing few issues:

1- I've built the Jar but it's missing Kafka File Load Generator Config. Does it have any prerequisites?
2- When I use Schema Registry Config Element (successfully), and Value Schema Load Generator Config, my Java request throws "error serializing avro message".
3- I cha

[2021-01-07 08:42] raheelazhar1 commented on #77
![Uploading image.png…]()

[2021-01-07 08:46] raheelazhar1 commented on #77
![Uploading image.png…]()

[2021-01-07 08:46] raheelazhar1 commented on #77
![image](https://user-images.githubusercontent.com/76075810/103871367-9890b600-5092-11eb-8cef-0d5776e67357.png)

[2021-01-07 08:47] raheelazhar1 commented on #77
![image](https://user-images.githubusercontent.com/76075810/103871466-b0683a00-5092-11eb-8532-bcec29405266.png)

[2021-01-07 08:48] raheelazhar1 commented on #77
Omitted the field names for privacy's sake.

[2021-01-07 08:58] raheelazhar1 commented on #77
![image](https://user-images.githubusercontent.com/76075810/103872567-3933a580-5094-11eb-99ac-191a1cfd94e5.png)

[2021-01-07 08:59] raheelazhar1 commented on #77
![image](https://user-images.githubusercontent.com/76075810/103872732-6aac7100-5094-11eb-8a98-c0b58e539ca0.png)

[2021-01-07 09:02] raheelazhar1 commented on #77
![image](https://user-images.githubusercontent.com/76075810/103872950-b101d000-5094-11eb-8df2-933b5e0cf35d.png)

[2021-01-07 09:05] raheelazhar1 commented on #77
When I leave the subject fields blank under Value Schema Load Generator Config, it passes with blank payload. The problem seems to be my payload. BTW, our Schema format is Avro.

[2021-01-08 07:07] pragya295 opened #78 "Issue while passing the field value containing comma"
Hi team, thank you for this plugin it helped a lot.

I am facing an issue while passing the below field value in the payload.

Field Type: **String**
Filed Value:   **[{"client_code":"ABC"\,"market_codes":["popfa"]\,"permissions":[{"app_code":"TEAA"\,"resource_codes":[{"code":""\,"action":""}]}]}]**

this string gets break from comma and I only able to get half string in the output

**[{"client_co

[2021-01-08 07:41] kszosze commented on #78
hi @pragya295,
that field was never designed to contain json objects, so we treat all the values as single ones. Do you really need to support json objects there? It looks like you payload should be an object/record itself.
Cheers

[2021-01-08 07:55] pragya295 commented on #78
Yes, I do need support for json object is that possible ? The payload is implemented in this format only.

[2021-01-08 12:59] codigoFuentes commented on #77
Hi raheelazhar1.
Can you send me an example schema? I'm only interested in the structure of the schema for testing.

[2021-01-08 14:21] raheelazhar1 commented on #77
Hi codigoFuentes,

![Uploading image.png…]()

[2021-01-08 14:22] raheelazhar1 commented on #77
![image](https://user-images.githubusercontent.com/76075810/104025649-927e0080-518a-11eb-8e9d-4b141158ba23.png)

[2021-01-08 14:24] raheelazhar1 commented on #77
And this is what's sent in the request:

![image](https://user-images.githubusercontent.com/76075810/104025983-fa344b80-518a-11eb-81da-b609c66073c8.png)

[2021-01-08 14:26] raheelazhar1 commented on #77
And this is what's sent in the request:

![image](https://user-images.githubusercontent.com/76075810/104026105-1f28be80-518b-11eb-989e-3b0083f3a702.png)

[2021-01-10 07:17] Chaderbura opened #79 "Kafka file load generator config element is missing from the config element list"
Hi,

thanks for building this wonderful plugin. I have successfully built this plugin with no error and able to use it in my jmeter. I am using java 11 to build the plugin.

But I am missing a config element which kafka file load generator config in my config element list. I tried different build and java configurations but still its missing. I dont know what i am doing wrong as it gives no error.

[2021-01-10 08:55] kszosze commented on #79
Hi @Chaderbura,

Seeing your screenshot I'm seeing you are nos using the latest one, but a previous release. In that case you are looking for the "Schema File Load Generator Config" just down in the list.
The Kafka File Load Generator, split in two in latest commit to:
- Value Schema File Load Generator Config
- Key Schema File Load Generator Config
Depends if you are referring an event Value or a

[2021-01-10 09:05] kszosze commented on #78
HI @pragya295,
It can be, I will take couple of days since I need this to fit in our roadmap. But we will try.
Cheers!

[2021-01-10 15:18] kszosze commented on #78
HI @pragya295,
We are delivering a possible solution in a branch for this issue. Do you mind test if that works for you?
Cheers

[2021-01-10 17:44] rite2keshav commented on #79
I am using version 3.2 but still not getting the 'Kafka load generator config' element,

![image](https://user-images.githubusercontent.com/36656062/104130933-8025e180-5399-11eb-8e18-4d08f73fe722.png)

[2021-01-10 18:10] kszosze commented on #79
Hi @rite2keshav ,
that is because there is not more Kafka Load Generator Config. has been renamed as Value Schema Load Generator Config, just the last one in the list.

Cheers!

[2021-01-11 04:32] rite2keshav commented on #79
Is there something wrong, I am not able to add 'Value Subject Name' in 'Value Schema Load Generator Config'. It is not allowing me to write anything in the text box. Can not paste even. Is it a known issue ?

[2021-01-11 07:40] codigoFuentes commented on #77
To debug your example I need a schema with the same structure that you are using for example like this https://github.com/corunet/kloadgen/blob/master/avro-example.avsc.

[2021-01-11 07:40] kszosze commented on #79
Hi @rite2keshav,
let´s review the path.... the "Value Schema Load Generator Config" depends of the "Schema Registry Config Element" which define the comunication with the schema registry holding the AVRO files. Once this last component is configure and test (just throught the button) the list of schemas will be donwloaded and will populate the combo box in the "Value Schema Load Generator Config"

[2021-01-11 08:44] rite2keshav commented on #79
Thanks @kszosze
Able to do it now, but got stuck here.. Could you please help,
2021-01-11 14:13:03,290 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'KP00_03_Java Request'.
net.coru.kloadgen.exception.KLoadGenException: Something Odd just happened
	at net.coru.kloadgen.processor.AvroSchemaProcessor.createObject(AvroSchemaProcessor.java:123) ~[kloadgen-3.2.0.jar:?]
	at net.coru.kloadg

[2021-01-11 09:21] pragya295 commented on #78
Hi @kszosze,
Thanks for the update. I will try this and update you in sometime.
Cheers

[2021-01-11 09:32] kszosze commented on #79
Hi @rite2keshav,
That´s an odd error... something unexpected happen. Can you share the avro schema you are using so we can reproducte it (or a similar one with same structure if you cannot share data.)

Cheers!!

[2021-01-11 11:23] pragya295 commented on #78
Hi @kszosze,
I have tried the above thing but still getting the same,

Settings used in script:

![image](https://user-images.githubusercontent.com/58456453/104176438-3f77a800-542d-11eb-9073-d6dddde43a5d.png)
![image](https://user-images.githubusercontent.com/58456453/104176450-44d4f280-542d-11eb-8460-e48e82090894.png)

Output
![image](https://user-images.githubusercontent.com/58456453/104176610-8

[2021-01-11 14:31] raheelazhar1 commented on #77
{
  "nm": "MyClass",
  "type": "record",
  "nmspace": "com.acme.avro",
  "fields": [
    {
      "nm": "customerbio",
      "type": {
        "nm": "customerbio",
        "type": "record",
        "fields": [
          {
            "nm": "countryOfBirthCountryCode",
            "type": "string"
          },
          {
            "nm": "dateOfBirth",
            "type": "string"
          },

[2021-01-11 14:32] raheelazhar1 commented on #77
@codigoFuentes , here you go..

{
  "nm": "MyClass",
  "type": "record",
  "nmspace": "com.acme.avro",
  "fields": [
    {
      "nm": "customerbio",
      "type": {
        "nm": "customerbio",
        "type": "record",
        "fields": [
          {
            "nm": "countryOfBirthCountryCode",
            "type": "string"
          },
          {
            "nm": "dateOfBirth",
            "

[2021-01-11 15:23] kszosze commented on #78
Hi @pragya295,
I saw a double "[" in the "value schema load config" element, just add the json objects separated by ",". We don't expect you add an array as object.
Other option is if you use JMeter Context Variables in there.. just with "${<Variable name>}" will work
Cheers

[2021-01-12 05:55] pragya295 commented on #78
I have passed below json string

{"client_code":"pre", "market_codes":["zfhj"], "permissions":[{"app_code":"yuy", "resource_codes":[{"code":"jj", "action":"hkhk"}]}]}

still not working.

one pair of these [ ] brackets are added automatically as soon as we click outside the field. It's not added by me. Same is for JMeter Context Variables, brackets get added and its displays like [${variable name}

[2021-01-12 14:11] kszosze commented on #78
Hi @pragya295,
one pair or square brackets are added by default, but I saw 2 in the screenshot.. no worries.. I´ll take a look into it.

[2021-01-13 07:37] kszosze commented on #78
Hi @pragya295,
made some changes, can you try this branch? Keep on eye in plugin version I bumped it because the changes, so remember to clean up previous jar.
Cheers.

[2021-01-13 07:40] kszosze commented on #79
Hi @Chaderbura,
I still need a sample of your schema. That error happened trying to generate the payload due some inconsistence in it.
Can you please send me file with the same structure? field names are not important, but avro sctructure it is.
Cheers

[2021-01-13 08:40] codigoFuentes commented on #77
We are working with your example, we hope to give you a solution as soon as possible

[2021-01-13 15:07] raheelazhar1 commented on #77
Thanks @codigoFuentes . Looking forward to hearing from you..

[2021-01-14 10:26] pragya295 commented on #78
HI @kszosze,
This change worked for me.

Thank you so much for your support.

Should I close this ticket from my end ?

[2021-01-14 12:43] kszosze commented on #78
HI @pragya295,
no worries It will be close once I merge the changes into master.
Thanks!!

[2021-01-14 13:27] #78 closed

[2021-01-14 17:07] codigoFuentes commented on #77
HI @raheelazhar1
Reviewing your schema we have verified that the problem is in the default null values in the array types. You can solve it by removing the default null values from your schema or by defining them as UNION and assigning them a null array as the default value.

[2021-01-14 17:16] codigoFuentes commented on #77
You can try the new version 3.3.0

[2021-01-14 18:01] raheelazhar1 commented on #77
Thanks @codigoFuentes . I'll give it a try and let you know.

[2021-01-19 08:02] jemacineiras commented on #79
After a week without answer we close this issue.

[2021-01-19 08:02] #79 closed

[2021-01-19 08:05] codigoFuentes commented on #77
Hi @raheelazhar1
Have you been able to try it?

[2021-01-19 14:54] raheelazhar1 commented on #77
Hi @codigoFuentes ,

I upgraded to 3.3.0, but that didn't help. However, I am working on the two solutions proposed by you (changing array type etc.). I don't have rights to change the Schema, so it might take few days.

Thanks,
Raheel

[2021-02-04 12:38] #77 closed

[2021-02-08 20:06] kszosze opened #81 "Fix issue in Field Value Mapping Values Representation"
After last update, a wrong behavior has been detected introducing values in the Field Value List, adding extra `[ ]`when a value is introduced.

[2021-02-09 11:34] codigoFuentes opened #83 "Add new value subject name strategy"

[2021-02-10 20:34] #81 closed

[2021-02-12 10:05] kszosze opened #85 "Improve Key and Values especification"
In order to clean up and make sampler easy, lets move the serialize and naming strategy chose to where schema is configured. So will be then another 2 properties to set up in this screen. That will reduce the number of samplers to one.

[2021-02-28 17:59] harold-kfuse opened #86 "Getting exception when using the Example-Test-Plan.jmx"
I'm trying to test Kloadgen. I built the standalone jar from master branch and use the included Example-Test-Plan.jmx. I only updated the bootstrap.servers and kafka.topic.name in this jmx file. When I try to run it, I'm getting the following exception:

Exception in thread "Thread Group 1-1" java.lang.Error: This should never happen. Tried to invoke:
net.coru.kloadgen.config.valueserialized.Value

[2021-03-01 09:40] codigoFuentes commented on #86
Hi  harold-kfuse.
Do you want to use the plugin as a Jmeter library or as a standalone jar?

[2021-03-01 14:09] harold-kfuse commented on #86
I am trying to use the standalone jar to generate load to kafka.

[2021-03-01 14:46] kszosze commented on #86
Hi @harold-kfuse,
we are gonna take a look into it and back to you as soon as possible. I guess you are using the latest master, right?

[2021-03-01 15:59] harold-kfuse commented on #86
Correct. I'm using the latest master.

[2021-03-01 23:00] kszosze commented on #86
I see, test plans are not fully updated. After latest changes we did not create new test plans. I will update then and push them. After that it should work. Keep in mind, some of the test plans require to populate schemas in the schema registry. I also will provide the necessary avsc files for that.
Cheers

[2021-03-04 18:41] kszosze commented on #86
HI @harold-kfuse,
I´ve prepared a branch with the fixed test plans and some other changes. Keep in mind that in order to use the Example-Test-Plan you need to inject the schema into the schema registry. Needed files are provided in the schema_registry_docker folder.

[2021-03-04 20:43] #83 closed

[2021-03-05 08:19] kszosze opened #88 "Add Consumer capability"
I need to add a consumer so I can receive messages and deserialize them base on the AVRO/Json-Schema configuration.
Message received will be populate into JMeter Context for further evaluation.

[2021-03-08 17:13] harold-kfuse commented on #86
Thanks! Is there also an example test plan if we just want to send a json message?

[2021-03-08 19:19] kszosze commented on #86
HI @harold-kfuse,
It will depend of your use case, we actually support JSON-Schema definitions. But if you want to send a plain JSON, that is not supported by this plugin, for now.
Cheers!

[2021-03-12 06:21] pragyasingh2905 opened #89 "Getting Error while passing string-array"
Hi,
I am trying to pass string-array field in the schema and getting below error can you please help me with the same.

![image](https://user-images.githubusercontent.com/69038587/110900679-273ae100-8329-11eb-91ee-62731618c42e.png)

![image](https://user-images.githubusercontent.com/69038587/110900711-3457d000-8329-11eb-9de3-f020c0e3021f.png)

[2021-03-12 08:33] kszosze commented on #89
Hi @pragyasingh2905,

This is know error; was detected a few days ago and current Pull Request for branch #86 should solve it. Do you mind try that branch?
Cheers

[2021-03-12 08:56] pragyasingh2905 commented on #89
sure, let me try will update you soon. thanks

[2021-03-12 09:57] pragyasingh2905 commented on #89
Hi @kszosze, this how I passed the value in schema and getting error. am I doing something wrong here?

![image](https://user-images.githubusercontent.com/69038587/110923867-5f511c80-8347-11eb-9499-8ec897670e7b.png)

[2021-03-15 17:13] kszosze commented on #89
Hi @pragyasingh2905,
Can you send me your schema? or if you can't by asl, can you provide something similar so I can test it and fix it?
Thanks!

[2021-03-15 17:15] kszosze commented on #86
Close after issue resolution

[2021-03-15 17:15] #86 closed

[2021-03-16 08:49] pragyasingh2905 commented on #89
Hi @kszosze, here it is
{
   "header": {
      "name": "Demo",
      "version": "V1",
      "publishTime": 1614758239442,
      "producerId": "XYZ"
   },
   "payload": {
      "correlationId": "correlation_Id",
      "templateId": "7fsdyfdsf7dfysi8df",
      "clientCode": "Demo",
      "tenantId": null,
      "subTenantId": null,
      "subURI": "xyz",
      "emails": [
         "pragya.singh@gmai

[2021-03-17 14:31] kszosze commented on #89
Hi @pragyasingh2905,
that is the generated example, what I need is the schema used to generate the data. I need to know is defined that emails field, looks like there is the problem.
Cheers!

[2021-03-18 06:08] pragyasingh2905 commented on #89
Hi @kszosze below is the schema.... thanks
{
  header: {
    name: "xyz";
    version: String;
    publishTime: Long;
    producerId: String;
  };
  payload: {
    correlationId: String;
    templateId: String;
    clientCode: Nullable<String>;
    tenantId: Nullable<String>;
    subTenantId: Nullable<String>;
    subURI: Nullable<String>;
    emails: Nullable<String[]>;
    contextData: String;

[2021-03-18 08:25] kszosze commented on #89
Hi @pragyasingh2905,
I think we have a comunication issue. I need your AVRO schema, JSchema or Json-Schema file in order to see what is happening. That schema you sent to me is not supported by the pluggin.
Cheers

[2021-03-18 11:22] pragyasingh2905 commented on #89
Hi @kszosze this is what we are using email is going as emails: Nullable<String[]> input and this is what "emails": ["pragya.singh@gmail.com"], get in output... I don't know what else to share.... should I share jmx file with you.

[2021-03-18 15:15] kszosze commented on #89
Hi @pragyasingh2905,
Get this jmx will help for sure to understand the issue.
Cheers!

[2021-03-19 05:51] pragyasingh2905 commented on #89
Hi @kszosze,
I am unable to attach the file can you please download it from this link

https://drive.google.com/file/d/1veyUZezEy2bBDpQBImvkTYPhXRPPKprP/view?usp=sharing

thanks,

[2021-03-21 12:25] kszosze commented on #89
Hi @pragyasingh2905,
There is a branch #89 with a fix for that issue, can you try it?.
[Schema and Plan](https://github.com/corunet/kloadgen/files/6177384/Archive.zip)
I recreate the AVRO Schema following your example you provide in your jmx. Hope it's the same.
Cheers

[2021-03-21 14:13] raph007 opened #90 "Cannot disable ssl.endpoint.identification.algorithm"
Hi,

I'm trying to disable it by setting empty:

![image](https://user-images.githubusercontent.com/755617/111907958-afbb2f00-8a57-11eb-8fb0-fa2461324d06.png)

By after that, when I press "Start" in JMeter, it just restores to default value:

![image](https://user-images.githubusercontent.com/755617/111908001-d1b4b180-8a57-11eb-8704-86f43a5f84a0.png)

I'm using plugin from "master" branch and JMet

[2021-03-22 06:11] pragyasingh2905 commented on #89
Hi @kszosze ,
sure let me try it and get back to you..
thanks

[2021-03-22 07:34] pragyasingh2905 commented on #89
Hi @kszosze,
the above fix working for me.. thanks for your help.

[2021-03-22 08:18] kszosze commented on #90
Hi @raph007 ,
unfortunately this a weird behaviour from JMeter GUI, about how the component we use for configure the samplers works.
I will need to tweak that by code.
I'll prepare a fix asap.
Cheers!

[2021-03-22 22:31] kszosze commented on #90
Hi @raph007,
I have a branch with a possible fix for your issue.
If you don't mind to test it?
Cheers!!!

[2021-03-23 18:20] raph007 commented on #90
Hi @kszosze,

Thank you for quick response.

I've just tested it and it works ok. :)

[2021-03-24 20:33] #89 closed

[2021-03-29 16:52] #90 closed

[2021-04-10 13:50] Tanmayghosh opened #93 "Unable to generate numbers more than 10 characters"
Field type having Long or Int with field length 11 or more is generating only 10 digits long value

[2021-04-12 10:58] kszosze commented on #93
Hi @Tanmayghosh
I´ll look into it.
Thanks!

[2021-04-15 06:24] kszosze commented on #93
Hi @Tanmayghosh,

I have branch with a possible fix. Do you mind to verify if it works for you?

Cheers.

[2021-04-22 17:07] madidaye commented on #75
Hello:
I am curious about the progress for adding protobuf support. Is there an expected timeline for completion?
Thank you!

[2021-04-23 07:01] codigoFuentes commented on #75
We are currently working on a solution. We hope to have it implemented in early May and we will notify you.

[2021-05-07 04:17] saini26rohit opened #98 "Build Issue. Unable to generate Jar as mentioned in read me."
Hi Team,
I have requirement to test kafka with avro schema message for which I came across your plugin. I tried to create the jar with the steps mentiond in the Build Project section. But I get dependency issues. Below is the output. I tried with eclipse and with maven both but every time build fails.
I have tried with master branch and with release-3.0.0 branch. but every time it gives dependency

[2021-05-07 07:06] kszosze commented on #98
HI @saini26rohit ,
you should not need to add any dependency for the build. Can you please provide a full log of the fail?
It will help if you can share with us which JVM and maven version are you using for it.
Regards!

[2021-05-07 09:32] saini26rohit commented on #98
Thank you @kszosze, for the prompt response. I was acting naive. I managed to get the Jar files now. I had to upgrade to JDK 16 and I used eclipse version 2021-03. Post that it downloaded all the dependencies and worked. However, on first time build it failed with error: "_Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test_" . On this I made changes to POM --> "<plug

[2021-05-09 07:37] kszosze commented on #98
HI @saini26rohit,
I´m curious about which version of the code are you actually using.
Master and Release 3.0.0 are using both version 2.22.2 of Surefire Plugin.
Regarding Java 16, still not supported for us. There is an issue between the version of Lombok and Java 16, so we need to update it in order to make work.
Can you provide a fork of kloadgen with your changes so I can download that code and

[2021-05-09 08:00] #85 closed

[2021-05-09 08:01] #93 closed

[2021-05-12 04:39] saini26rohit commented on #98
@kszosze
I tried with both Master and Release 3.0.0 and for both build fail with error: "Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.22.2:test".
Both Master and Release 3.0.0 are using version 2.22.2 for Surefire Plugin. So I was not sure what to do. I googled and the solution was to add testFailureIgnore tag in POM.xml.
<configuration>
        <testFailureIgnore>true</

[2021-05-15 08:47] kszosze commented on #98
Hi @saini26rohit
Sorry for late reply, I have a branch for this issue. Can you try to build it?
Regards

[2021-05-16 07:47] saini26rohit commented on #98
Hi @kszosze
Thank you for the help. I will try to build with the branch and update you. Mean while can you help me do identify what I am doing wrong below:
When I try in my corporate machine behind corporate network where I have Jdk1.8 I am getting below error:
/PathInMachine/Kloadgen-master/src/main/java/net/coru/kloadgen/extractor/extractors/AvroExtractor.java:[144,21] Valid_TYPES has protected

[2021-05-17 20:09] kszosze commented on #98
Hi @saini26rohit ,

This is a know issue fixed in the branch I'm just made to investigate your case.
Can you please use it to build?

Cheers!

[2021-05-20 04:53] hashasnainalibohra123 opened #100 "I want to create a jar with version 1.8 java"
I see some of the statements in the code is written in java 9. But my jmeter is compatible with 1.8 only.

Can you please suggest me how to create jar with 1.8

[2021-05-20 21:58] mark-landry-appD opened #102 "Need an example for fields with field type map in the Value Schema Load generator config"
Hi,

The topic I want to load has a number of fields with field type as map.  For example:
field name.                         field type
payload.entity.details            map

and the failure I get when trying to add a field list value in the value schema load generator config is the following:

org.apache.kafka.common.errors.SerializationException: Error serializing Avro message
Caused by: java.

[2021-05-21 13:00] kszosze commented on #100
This project had moved to java 11, since Java 8 is close to be in it's end of life (OpenJDK will end it in 10 months) so we prefer start moving it to Java 11 and use the improvements there.
I don't mind you want to make a fork and keep it in Java 8. But we will not chang it back to Java 8.

[2021-05-24 09:06] kszosze commented on #102
Hi @mark-landry-appD,
I'll take a look into it. Can you please provide a jmx file with the failure you are getting?

Cheers

[2021-05-25 19:20] mark-landry-appD commented on #102
Thank you. Will share a version of the jmx shortly.

[2021-05-26 12:12] mark-landry-appD commented on #102
jmx attached. Let me know if this is enough information to reproduce.
[kloadgen_map_example.jmx.txt](https://github.com/corunet/kloadgen/files/6546557/kloadgen_map_example.jmx.txt)

[2021-05-28 15:56] kszosze commented on #102
HI @mark-landry-appD ,

I will need the AVRO schema. The map type is wrong, it should be 'string-map' instead of simple map. So probably there is a problem with the import process.
By default if no type is found it will generate a String value.

Cheers.

[2021-05-28 16:04] #98 closed

[2021-05-31 13:35] mark-landry-appD commented on #102
Hi @kszosze,

Here is the portion of the avro schema that is of concern:
    {
      "name": "details",
      "type": {
        "type": "map",
        "values": {
          "type": "array",
          "items": "aaa.bbb.entity.events.avro.AdditionalDetails"
        }
      }
    }

cat AdditionalDetails.avrc
{
  "namespace": "aaa.bbb.entity.events.avro",
  "type": "record",
  "name": "AdditionalDeta

[2021-06-01 19:12] kszosze commented on #102
HI @mark-landry-appD,
are you trying to build a Record Array map?
For now, we don´t support such complex structure.
I´ll need to make some development about that.
I´ll keep you posted since those days are quite busy.
Cheers!

[2021-06-02 10:28] mark-landry-appD commented on #102
Hi @kszosze. Thanks for the update.  What would be the target date for release 4.0.0?

[2021-06-03 08:28] kszosze commented on #102
Hi @mark-landry-appD ,
Release 4.0.0 will take a bit more than expected since we are working in the Protobuff integration and add a Consumer Sampler to complete the cycle.
But I can take a look into the schema process and tweak that for you.
I'll build a sample avro with those pieces you sent to me, or if you wish to provide a better one your be welcome, so I can speed the things.
Cheers

[2021-07-06 12:03] mark-landry-appD commented on #102
hi @kszosze, Thanks for having a look at this. We noticed there were a couple of commits and are excited to try it out.   FYI when I tried using the latest commit,  I ran into an issue with a missing class. Exception was  ClassNotFoundException for org.glassfish.jersey.internal.RuntimeDelegateImpl. when I try to load a subject using the value Schema load generator config. I thought maybe this is m

[2021-07-07 16:54] tfdsimoes opened #105 "Refactor and improve the RandomTool"
Refactor and optimization of RandomTool, AvroRandomTool and StatelessRandomTool classes.

The main focus will be the RandomTool, but since the 3 are connected it is possible the 3 will be refactored.

[2021-07-21 14:54] madidaye commented on #75
Is this issue still in progress?

[2021-07-21 15:00] diegoffern commented on #75
Yes. Sorry for the inconvenience, we will have it as soon as possible.

[2021-08-07 08:42] kszosze opened #108 "Master branch broken after last merge"
After last merge master branch is broken. This commit should fix it.

[2021-08-07 09:29] #108 closed

[2021-08-08 06:07] #105 closed

[2021-08-09 08:31] #88 closed

[2021-08-09 08:32] pboullosa opened #110 "Adding support for avro logical types"

[2021-08-19 10:07] pboullosa opened #113 "Fixing brackets bug"

[2021-08-20 10:11] #110 closed

[2021-08-20 14:40] saini26rohit opened #114 "Request - Is there a possibility to provide ready to use JAR?"
Hi @manoncorunet,
I am very keen to use this utility to test Kafka with avro format messages.
My organisation doesn’t allow to pull the codes from outside and use it. Is there a possibility that you can build the Jar and upload here in git hub so that people like me who are purely from testing background and have no knowledge how to create jar files or customise it, can use it. I can import it eas

[2021-08-20 17:14] kszosze commented on #114
Hi @saini26rohit,

Project can generate 2 jars, plugin one for running inside a JMeter installation and a standalone one to run it from command line. My guess is that you required the first one?

I can provide a Jar, but you still will need to drop it in the required folder, as appear in the instructions.

Regards.

[2021-08-20 17:20] saini26rohit commented on #114
@kszosze Yes I will couple it with JMeter and will use it. Placing inside the JMeter that much I can do.
Appreciate the effort and help.

Thanks

[2021-08-20 20:34] #114 closed

[2021-08-20 20:39] kszosze commented on #114
HI @saini26rohit ,

I added a way to provide a jar for you to able to test the plugin.
From now on the build action will deploy a jar in the github package repository, here is the url
https://maven.pkg.github.com/corunet/kloadgen/net/coru/kloadgen/3.5.1/kloadgen-3.5.1-kloadgen-plugin-3.5.1.jar

You just need to download it.
Repository required authentication, as far as I know. You can get more inf

[2021-08-22 21:26] rathishks opened #117 "Kloadgen components are not visible in JMeter"
Built master branch (Java11) and copied the plugin jar to /bin/ext and restaretd JMeter. But the KLoadgen components are not visible in JMeter. Not sure what went wrong. Any suggestions?

[2021-08-23 14:40] kszosze commented on #117
Hi @rathishks,
the right folder is '/lib/ext' not '/bin/ext'. It should appear the components as we show in the README.md.

Do you mind double check on which folder you are dropping the jar?

Cheers!!

[2021-08-31 09:08] M3lkior commented on #117
hi @kszosze ;

We also try to install KLoadGen on jMeter 5.4 ; building the master branch we deploy your plugin into `lib/ext` but the KLoadgen plugin don't appear in the plugin manager list

![image](https://user-images.githubusercontent.com/5501911/131475301-09141744-7089-4dd2-8ea6-2b5f636713d3.png)

But the config components are available ... any idea ?

![image](https://user-images.githubuserc

[2021-08-31 13:18] M3lkior commented on #117
ok @kszosze this about the name of you sample ;
@rathishks you should use the `Java Request`  Sampler which is in fact a Keyloadgen Sampler :

![image](https://user-images.githubusercontent.com/5501911/131509381-e7a888be-4cd8-4117-a33c-50611ef48ccf.png)

[2021-08-31 16:04] M3lkior opened #119 "Jmeter property function not taken in Config Element"
Hi, i try ot use your plugin with the `$__P` function in order to externalize my kafka environment values, but it seems that the configuration don't get the jmeter parameters (see https://jmeter.apache.org/usermanual/functions.html#__P) :

Here is my configuration  :

![image](https://user-images.githubusercontent.com/5501911/131536917-43ab62be-fde4-4547-887b-d6ff2f4add8a.png)

Here is my jmeter c

[2021-09-02 08:14] kszosze commented on #117
Hi @M3lkior,

answering your question about plugin manager:

Developing a plugin under the scope of Plugin Manager is quite different from developing a normal plugin for JMeter. In the start of the project we consider following that path, but deadlines where so tight so we choose the basic one. But we still have this question over the table. Is an open discussion if we should move to this way of d

[2021-09-02 09:15] M3lkior commented on #117
I think that provided your plugin into a PluginManager is not so important but provided your artifacts into a public Maven registry (without authentication) like Maven Central seems to be more important to avoid team rebuilding your project :)
Or if it is not possible, provided your version artifacts attached to the Github releases artifacts.

[2021-09-02 09:38] kszosze commented on #117
Well, this is something to discuss, since you can, generate 2 different artifacts from our code meaning that I need to set up a complex action (not too complex, really).
Actually the Plugin jar is generated and uploaded into the Github Package like [this one](https://maven.pkg.github.com/corunet/kloadgen/net/coru/kloadgen/3.5.1/kloadgen-3.5.1-kloadgen-plugin-3.5.1.jar) , it has security I know, bu

[2021-09-06 10:12] M3lkior commented on #119
Thanks @kszosze ;

As a workaroung, it is possible to use an `User defined Variable` config with this kind of declarations
![image](https://user-images.githubusercontent.com/5501911/132201104-d4a0ab4c-809c-4314-aab3-ae078843d9f7.png)

and use the variables keys in the KeyloadGen config with the `${key}` placeholder like this :

[code]

Maybe you should just document this way for settings external

[2021-09-06 14:18] Rivarsal commented on #119
Hi @M3lkior,

I just looked into this issue and it was working fine on my end. I declared the properties in non-gui mode like this

![image](https://user-images.githubusercontent.com/59642284/132229889-dc7b9581-cdcf-4107-8bd5-64780c38f40e.png)

And I declared the the properties on the Schema Config Registry Element like this:

![image](https://user-images.githubusercontent.com/59642284/132229945-7

[2021-09-06 14:26] M3lkior commented on #119
Yes @Rivarsal it works on command line but not with the `Test Regsitry` button nor with the Load Avro Config which i guess need at least one connection from the GUI to load an avro schema from the registry

[2021-09-06 16:15] M3lkior commented on #100
maybe you can change the compiler source in your forked project  to `1.8` on `compiler-maven-plugin ` ?

[2021-09-06 21:04] jemacineiras commented on #113
Solved by [PR](https://github.com/corunet/kloadgen/pull/118)

[2021-09-06 21:04] #113 closed

[2021-09-08 07:13] Rivarsal commented on #119
Hello @M3lkior ! Sorry for the late answer, I was working on this. I added support to check the properties for both the Schema Registry field and the Schema Registry properties table in the 119 branch. Once we double check everything is correct we will merge it with master.

Greetings!

[2021-09-13 14:06] Rivarsal commented on #119
Hello @M3lkior

Just wondering if everything is okay with the 119 branch?

Cheers and I hope you are having a good time!

[2021-09-13 16:05] M3lkior commented on #119
hum ; i rapidly try to use your 3.5.3 version in my local env and the `Test Registry` button always throw the error:

![image](https://user-images.githubusercontent.com/5501911/133118443-118d16de-e03b-4293-bc2a-05d55980e4ee.png)

[2021-09-13 16:19] Rivarsal commented on #119
I think it might be one of this two things, if not I will check it and fix it ASAP.

Have you set the SCHEMA_REGISTRY_URL with http:// or https protocol to yourServer ? If I don´t add the http it will throw an error since it has no protocol.

It worked on my end when I used it both on GUI using jmeter.bat -q file.properties and assigning the property from the console.

Let me know if that small so

[2021-09-14 08:20] Rivarsal commented on #119
Hello @M3lkior

Just checked your image again with @kszosze and we found out the issue. You wrote ${SCHEMA_REGISTRY_URL} which is a variable, instead of ${__P(SCHEMA_REGISTRY_URL)} which is the property.

This gave us an idea to support variables as well. I will work on that on the 119 branch and I will let you know when this is developed.

Greetings!

[2021-09-14 09:30] M3lkior commented on #119
yes in fact i actually used the `User Defined Variables Config` to define all my external variables to use only properties on config :

![image](https://user-images.githubusercontent.com/5501911/133232760-bbbb63c9-a5fc-484d-83fa-9d149f51034a.png)

I think you should handle those different approaches

[2021-09-15 11:23] Rivarsal commented on #119
Hello again @M3lkior

We have investigated the way KloadGen and Jmeter Works and we have found out 2 solutions for these problem.

It will work if you use a **Property directly** on the Schema Registry Config Element andclick the **Test Registry Button** .We currently cannot make it work when you hit the **Test Registry button** if you use a **User Defined Variable**.

You can also define the **Us

[2021-09-21 19:17] madidaye commented on #75
Is there an ETA on this feature at this time?

[2021-09-26 15:55] tfdsimoes commented on #75
Hi,
I will try to get these feature release at the end of next month.
If not resolved until that moment I will update in a new estimation plus the % of work reamin in my point of view.

[2021-09-28 14:25] martinvarelalorenzo opened #125 "Bad ENUM values generation"
We need to find out why in certain cases ENUM type fields are not generated correctly and stop the application flow.

[2021-10-27 09:01] M3lkior opened #128 "Dealing with array of record in AVRO"
Hi find this issue (https://github.com/corunet/kloadgen/issues/64) similar to my need but not satisfaisant answered or solutions

I actually have in my main record an `array of records` field:

[code]

This structure is represented in the KLoadGen by the configuration below:

![image](https://user-images.githubusercontent.com/5501911/139033351-33e4f68c-da50-496b-98e9-3c7a989fadbe.png)

Here i find

[2021-11-02 11:27] jussimarttila opened #129 "Enums can't be generated"
`RandomObject.getEnumValueOrRandom()` returns a `String`, but due to https://issues.apache.org/jira/browse/AVRO-1810 Strings can no longer (since Avro 1.8+) be written as enums with `GenericDatumWriter` and trying to provide enum values as `[FOO, BAR]` will give an exception "org.apache.avro.AvroTypeException: Not an enum: FOO, schema: ...".

Easiest workaround is to `return new GenericData.EnumSy

[2021-11-02 15:31] #125 closed

[2021-11-04 12:20] Rivarsal commented on #128
Hello @M3lkior

First of all, sorry for the late answer. We looked into it and we can make it process the values in FieldValueList as a sequence if you add something like {} instead of processing them randomly. I will create a branch and work on it since we think it´s a good feature to develop.

About this image, I don´t think we can make it possible that you can with the way it calculates sizes c

[2021-11-08 12:03] Rivarsal commented on #128
Hello! @M3lkior

I just implemented a new change to the program in the branch  #128. If you type a fieldValueList with a "{" after the "[" like this: [{value1,value2] it will start a sequence between value1 and value2 instead of doing it randomly.

Greetings

[2021-11-08 13:05] M3lkior commented on #128
Hello @Rivarsal ; thanks for your reactivity, i must not add a `}` to close the sequence ?

So for my example i must do a think like

`BusInputs[].cliendCode | [{1,2]` will generate two entries with a clientCode 1 and next a clientCode 2 ?

[2021-11-08 14:26] Rivarsal commented on #128
Yeah, you don´t have to write "{" at the end of it. Just at the beginning.

Let me take a look into your problem. I believe this is happening because of this issue: #130 which is fixed but hasn´t been implemented on to master yet.

I will check it and I will give you an answer ASAP.

[2021-11-08 16:16] Rivarsal commented on #128
Just checked and the Issue #130 will take a little longer, the PR it´s on draft currently since they found new problems with the Enum generation.

[2021-11-08 16:28] M3lkior commented on #128
For information, i tried to merge the #130 on my local #128 branch to test the fix but i have the same issue

[2021-11-08 17:18] Rivarsal commented on #128
We have to fix the #130 issue. We will take a look into it.

[2021-11-16 08:27] harjis opened #134 "A new release"
Hi!

First of all thanks for the work you have put into this plugin. It is highly appreciated 👍 We use this plugin in creating a JMeter docker image. Currently the only working solution we have found is pulling master and then compiling the .jar during image build time. I was wondering if you could make a more recent release which we could use instead of pulling master?

I saw that you keep the pa

[2021-11-16 08:40] Rivarsal commented on #134
Hello @harjis!

We are aware of this issue, and we will add Kloadgen´s jars to Maven in the future.

We will keep you updated when it happens, sorry for the inconveniences.

Cheers!

[2021-11-16 11:30] #129 closed

[2021-11-17 11:25] Rivarsal commented on #128
Hello @M3lkior !

After days of developing we have found what looks like a solution for the sequences and the Enum problem, it´s ready to be reviewed in #135 and it will ship to master once it´s revised.

Sorry for the delays and I hope it works for you

[2021-11-17 11:55] M3lkior commented on #128
Hey @Rivarsal ; no worries :) i will test this pr this day and give you a feedback :)

[2021-11-17 14:48] #119 closed

[2021-11-18 10:27] Rivarsal opened #138 "Standalone build not working"
Update Jmeter Dependencies from 5.3 to 5.4.1 in Pom to fix it.

[2021-11-19 11:55] #138 closed

[2021-11-23 16:41] M3lkior commented on #128
hi @Rivarsal , i test this enhancement today in my jMeter project;

it works like expected in my usecase; thanks a lot !

[2021-12-06 17:13] M3lkior commented on #128
Hi @Rivarsal ; how are you ?

I migrate my jMeter KLoadGen script with real business data and i found a bug with the sequence feature

You can easily reproduce with those valueLists:

Given:
[code]

When a list contains some value multiple time, your algorithm below seems to have a weird behavior:
[code]

- after the first `7` value found and processed in the `BusInputs[18].ClientCode `, all the o

[2021-12-06 17:22] Rivarsal commented on #128
Oh! Sorry for that @M3lkior

I will pass this to our team since I will be on holidays this week. Most of us are on holidays so the fix for this might be delayed a little. My apologies in advance

[2021-12-07 00:06] kszosze commented on #128
Hi @M3lkior,

Logic was a bit confused. I´ll check it and rework it a bit.
Can you please try if the new brand #128  works for you?

Keep in mind, regarding you last scenario, if you define an array size bigger than values it will restart from the init.

Cheers

[2021-12-07 09:03] M3lkior commented on #128
Oh thanks for your reactivity; i test your fix this morning !

Yes i agree and it is for me an expected comportment :)

[2021-12-07 09:20] M3lkior commented on #128
It is ok @kszosze ! Thanks for the quick fix !!

[2021-12-07 10:12] #128 closed

[2021-12-10 15:58] madidaye commented on #75
Is there a timeframe update on this feature?

[2021-12-10 16:26] kszosze commented on #75
Hi @madiday,
My apologizes for the delays, we had some big problems with this integration and other unrelated issues. But we are close to offer a solution quite soon. Next week I will be able to provide a solution. In the meantime, can you provide a proto file according to you expectation, so we can include it in our testing and be aligned with you?

Thanks and we are really sorry about.

[2021-12-10 17:00] madidaye commented on #75
Thank you for your response.
Here is a reference proto file
[code]

[2021-12-13 17:17] Rivarsal commented on #75
Hello @madidaye

@vtorresb and I are currently working on protobuff support, we have just completed the extractor which is about 40% of what we need to do in order to generate random values. I can´t say a specific timeframe where we will finish this, but hopefully we might have a working branch soon.

Again sorry for the delays, we know you have been waiting for too long but hopefully we will good

[2021-12-13 17:57] madidaye commented on #75
@Rivarsal Thank you so much for this update. I have been pleased with the Avro portion of this extension and look forward to the Protobuf!
Great work to this team for the functionality that is available thus far.

[2021-12-16 08:32] harjis opened #145 "Auto registering schemas to SchemaRegistry"
Hi!

I was trying out how auto registering a schema to SchemaRegistry works but according my tests the schemas do not get sent to SchemaRegistry. My expectation was that if I have `auto.register.schemas` set to `true` the schema would be automatically sent to schema registry when I start producing messages with JMeter+Kloadgen. I'm also using Avro as the message format.

Is there something else I

[2021-12-17 17:47] armando-montoya-kr commented on #134
@Rivarsal could it be an option that we have a github workflow that creates a jar file under the github releases page upon a new tag created?
I could contribute with that work if that suits the plugin work.

[2021-12-17 19:05] kszosze commented on #145
Hi @harjis,

it should work as you expected. I'll check it out asap, may you hit a bug.

Cheers!!

[2021-12-17 19:08] kszosze commented on #134
Hi @armando-montoya-kr,

thanks for the offer.

We already have an action which upload the latest build from master into github package, but to download it, you need some authentication. It order to make more accessible we are working to make our release in Maven Central, so it will be more easy to download the jars.

Cheers!!

[2021-12-17 19:10] kszosze commented on #102
Hi @mark-landry-appD,

have you been able to try the latest commits?

Cheers!!

[2021-12-17 19:12] kszosze commented on #75
HI @madidaye ,

just a small update. We are working on it and is possible to get something for you to test close to the end of the month.. may be a bit later, but not too much.

Cheers!!

[2021-12-25 21:41] kszosze commented on #145
HI @harjis,

I found the problem and I have a solution in the branch associated to this issue.
Do you mind testing it if it works for you?

Thanks!

[2021-12-27 10:35] harjis commented on #145
Hi @kszosze!

Thanks for the quick response! I tried out the branch and on my computer it seems that it is not working as intended. I'll try to do some testing still to see if the problem is at my end. When I start producing messages I get the same error message as before.

Full log is this:
[code]

[2021-12-27 22:08] kszosze commented on #145
Hi @harjis,
I just made some adjustments in the branch. Do you min d to test it?

Cheers

[2021-12-28 12:44] harjis commented on #145
Hi @kszosze!

I tested the branch and it seems to be working as intended! I got it working by using `ValueFileSerializedConfigElement`. Before I was using `ValueSerializedConfigElement` but is it so that this doesn't have the ability to send schema to schema registry if it doesn't exist?

I noticed that `ValueFileSerializedConfigElement` in `Example-Test-Plan-2.jmx` contains `avroSchema`, `avroSub

[2021-12-28 12:50] kszosze commented on #145
HI @harjis,
That's make sense, since ValueSerializedConfigElement depends on you have a Schema Registry up and running, while ValueFileSerializedConfigElement don't; you just upload the avsc file and work with it.

I'm going to check the example test plans and updated, may be some of them got a bit old with recent developments.

Thanks for the feedback!!

[2021-12-28 22:07] #76 closed

[2022-01-05 21:21] #145 closed

[2022-01-06 20:34] nrellanti commented on #75
@kszosze Thank you

[2022-01-07 06:03] UjavalMehta opened #148 "Long_Timestamp-millis Value Schema File Load Generator Config parsed issue"
Hi Team,
Need your help how to parse the Timestamp type

![image](https://user-images.githubusercontent.com/91044482/148499521-256ef621-345d-4c00-b3ed-d6bc8980d59b.png)

![image](https://user-images.githubusercontent.com/91044482/148499550-6d0ee1b9-2e7f-4655-9521-d23afaafa347.png)

AVRO Schem Example:
{
   "type":"record",
   "name":"Queue",
   "namespace":"xxx.xxxx.xxxx.cc.queue.avro",
   "fields

[2022-01-07 12:59] UjavalMehta commented on #148
After changing "long_timestamp-millis" to "long", It got working fine

[2022-01-07 12:59] #148 closed

[2022-01-07 22:34] nishantworah opened #150 "NullPointerException while sending an event using Value Schema Load Generator Config"
Hi,

Thank you for all the work on this plugin. Highly appreciated. We are using this plugin for  kafka load  but currently stuck with the below mentioned issue:

I am getting NullPointerException when I try to send an event using Value Schema Load Generator Config

2022-01-07 14:21:40,918 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Kafka Producer Properties'.
java.lang.NullPointe

[2022-01-07 23:08] nishantworah opened #151 ".."

[2022-01-07 23:09] #151 closed

[2022-01-07 23:09] nishantworah opened #152 "."

[2022-01-07 23:09] nishantworah opened #153 ".ll"

[2022-01-07 23:09] #153 closed

[2022-01-07 23:39] #152 closed

[2022-01-09 23:41] kszosze commented on #150
hi @nishantworah,

I think the issue you are facing is already solved. Do you mind to try with the latest master? Actually is the 3.6.1 and you are using a 3.5.7.

Please, try with this new version.

Cheers and Happy new year 2022!!

[2022-01-10 18:56] nishantworah commented on #150
HI @kszosze , Thank you for your help!

I updated the kloadgen version to 3.6.1 but still getting same error with latest one

022-01-10 10:54:18,534 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Kafka Producer Properties'.
java.lang.NullPointerException: null
	at net.coru.kloadgen.processor.AvroSchemaProcessor.createObject(AvroSchemaProcessor.java:283) ~[kloadgen-3.6.1-kloadgen-plug

[2022-01-10 19:45] kszosze commented on #150
HI @nishantworah,

this is really odd, I'll check it and back to you with something asap.

Cheers

[2022-01-10 21:36] kszosze commented on #150
Hi @nishantworah,

checking your AVRO schema definition I noticed you are defining a UNION as a type for the contactNumbers array instead of define the Record as a type. Is there a any reason for that?

Cheers!

[2022-01-10 22:20] nishantworah commented on #150
@kszosze I would appreciate your help . Yes we need AVRO schema definition to be in this format. Thank You!

[2022-01-10 22:47] kszosze commented on #150
@nishantworah is ok then I'll prepare some fix. But you should define then this UNION field properly as
` items: [ { .... }, null ], default : null `
or a similar type.
My advice.
Cheers!

[2022-01-11 07:41] UjavalMehta opened #154 "Array of Map"
Hi Team,
My Avro Schema Template look like:
{
         "name":"customerIdentifiers",
         "type":[
            "null",
            {
               "type":"map",
               "values":{
                  "type":"array",
                  "items":"string"
               }
            }
         ],
         "doc":"identifiers of the customer",
         "default":null
      }

With PepperBox pl

[2022-01-11 10:17] Rivarsal commented on #154
@UjavalMehta I will look into this and I will give you an answer soon.

Sorry for the troubles!

[2022-01-11 10:21] UjavalMehta commented on #154
ThnQ Rivarsal

[2022-01-11 12:15] Rivarsal commented on #154
Hello @UjavalMehta

I am seeing that you are using 3.5.2 version of KloadGen.

Could you please change to this branch #149 and try it out with this changes? Your version doesn´t use the AvroGeneratorTool class that support unions. If it doesn´t work with that I will still take a look!

Sorry for the troubles.

Cheers!

[2022-01-11 12:22] UjavalMehta commented on #154
ok
Let me try with latest jar
ThnQ

[2022-01-11 14:02] UjavalMehta commented on #154
I tried to clone the repository
https://github.com/corunet/kloadgen.git

While jar creation, Its failing for me:
![image](https://user-images.githubusercontent.com/91044482/148956716-4dd8ab3e-22d0-4dd3-a05d-f6e8842a6a68.png)

Will it be possible to share the jar to use if you have?

[2022-01-11 14:08] Rivarsal commented on #154
Please let me know when you downloaded the file so I can take down the link

https://mega.nz/folder/V18lQYLQ#O6kirlCcpIlEUZ-mOZRQcA

[2022-01-11 16:54] Rivarsal commented on #75
Hello! @nrellanti

Just a quick update! We are almost done with the protobuff support, we had been delayed trying to investigate about external imports in the protobuf file. We still don´t have that feature developed, but we will release the first version of the protobufs around next week (this time for real) and we will try to find a way to develop support for external imports in the near future.

[2022-01-11 17:18] nrellanti commented on #75
@Rivarsal Thank you so much for this info.

[2022-01-12 05:57] UjavalMehta commented on #154
I can able to download the file...
Thank You
I will try and will update you

[2022-01-12 06:28] UjavalMehta commented on #154
I am having the same Error
2022-01-12 06:25:05,635 ERROR o.a.j.p.j.s.AbstractJavaSamplerClient: Failed to send message
org.apache.kafka.common.errors.SerializationException: Error serializing Avro message
Caused by: org.apache.avro.UnresolvedUnionException: Not in union ["null",{"type":"map","values":{"type":"array","items":"string"}}]: a
ccountIds:[QVOQMV] (field=customerIdentifiers)

![image](ht

[2022-01-12 07:12] Rivarsal commented on #154
Okay, then I will run some more tests and check what's wrong. Could you give me a more detailed Avro? Sorry for the trouble

[2022-01-12 07:20] UjavalMehta commented on #154
{
   "type":"record",
   "name":"CreateInboundEngagement",
   "namespace":"com.xxxxx.xxxxxx.avro",
   "doc":"Command to create an inbound engagement",
   "fields":[
      {
         "name":"tenantId",
         "type":"string",
         "doc":"the unique identifier for the tenant"
      },
      {
         "name":"clientSessionId",
         "type":[
            "null",
            "string"

[2022-01-12 07:22] UjavalMehta commented on #154
Above one is the avro schema
I am unable to attach the json file so I have pasted schema here
Please upload the same schema json file on Value Schema File Load Generator Config

[2022-01-12 08:46] Rivarsal commented on #154
So we have tried with your AvroSchema manually(by creating an avro file with it) and we are seeing different values being extracted into our FieldType.

![AvroFieldValueMappingList](https://user-images.githubusercontent.com/59642284/149090174-701ef49b-094d-43cb-ad18-08fb1446f3ff.png)

We have tried with this setup and it works totally fine, with variables and functions. I think your issue is happe

[2022-01-12 08:47] Rivarsal opened #155 "Fix generate sequences in complex Objects"
Sequences are not being generated when we use complex types

[2022-01-12 08:50] UjavalMehta commented on #154
Yeah I have created Avro file manually and It look working fine for 10 events and I blocked with this events
But Thank you for the quick update, Let me try this from my end

[2022-01-12 08:54] Rivarsal commented on #154
Okay! Will be waiting for your answers.

Also, thanks to this issue we have found that sequences are not being generated right, so thank you for that and we will fix that right away since it´s an easy fix.

[2022-01-12 09:19] UjavalMehta commented on #154
with kloadgen-3.5.2, It was generating parameter from json file wrongly.
I have uploaded json again with kloadgen-3.6.2 and It look like what you have given above and now its passing for me

Thanks lot for quick help :)

There are 2 things, I wanted to highlight.
Please let me know whether I need to created another issue for that or here it should be ok
1) whenever we have multiple producer events

[2022-01-12 09:34] Rivarsal commented on #154
Glad to hear that it kinda worked!

For the next 2 problems:

1. I would create a new issue for this. I am not sure if we support multiple producers, I need @kszosze help on this one.

2.  I need more explanation on the second one. What is it that is not being created correctly? Let me check if I can find a way to make the inbuilt function work since it´s tricky to work with them.

[2022-01-12 09:51] UjavalMehta commented on #154
Thanks Rivarsal for quick note
for 2 point. Screen is the output of the request which I tried to produce with above json

Please let me know If you need any more details

[2022-01-12 09:56] Rivarsal commented on #154
![image](https://user-images.githubusercontent.com/59642284/149117532-117997a9-3365-4f22-9d6e-0816cd9f233a.png)

I managed to get the function getIteration working in this way:

![image](https://user-images.githubusercontent.com/59642284/149117729-4021b9a2-446e-48ac-a5c8-d772520152e3.png)

[2022-01-12 09:58] UjavalMehta commented on #154
That's cool
Thank You 👍

[2022-01-12 10:36] #154 closed

[2022-01-13 08:20] UjavalMehta opened #156 "NullPointerException: Cannot invoke "org.apache.avro.Schema$Field.schema()" because "field" is null"
Getting below Error:
2022-01-13 08:12:49,752 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Kafka Producer Properties'.
java.lang.NullPointerException: Cannot invoke "org.apache.avro.Schema$Field.schema()" because "field" is null
at net.coru.kloadgen.processor.AvroSchemaProcessor.extractConstraints(AvroSchemaProcessor.java:124) ~[kloadgen-3.6.2-kloadgen-p
lugin-3.6.2.jar:?]
at net.co

[2022-01-13 10:31] Rivarsal commented on #156
This error usually happens because:

 1. Your Schema doesn´t have the same name as the FieldValueMapping (Have you changed the name?) so it doesn´t find the right field.
 2. Your Schema doesn´t have that field at all and can´t find it. (Have you deleted the name?)

I ran tests with your Avro Schema and it worked just fine.

Also, there is a couple of things I must say:

1. Your function ${__time()

[2022-01-13 12:12] UjavalMehta commented on #156
Thank You Rivarsal for quick response
I have not changed/deleted any name from schema point of view.
${__time()} is working for other events and I believe that should not be issue
For header.providerMessageTimeStamp and other null values, Earlier I have set as "[]" but then I have added "[null]" values but it still having the same issue

I will pull schema from environment again and will double ch

[2022-01-13 12:47] UjavalMehta commented on #156
Sorry for the confusion
Environment schema got changed and gain that error
Its passing for me now
But yes, "null" value is important. Once you have that addon, please update
Thank you for your time

[2022-01-13 12:47] #156 closed

[2022-01-13 14:52] fcampostato opened #157 "Add support for null values in FieldValueList"
Add support for null values in FieldValueList that now are unsupported.

[2022-01-14 17:30] kszosze opened #160 "Need to set min.insync.replicas and replication factor"
### Discussed in https://github.com/corunet/kloadgen/discussions/159

<div type='discussions-op-text'>

<sup>Originally posted by **ramandas30** January 14, 2022</sup>
Hi,
my scenario is i want to create topic having min.insync.replicas 2 and replication factor atlst 2.
there are 5 broker is running in my kafka cluster</div>

[2022-01-17 17:07] kszosze commented on #150
Hi @nishantworah,
I've prepared a branch with a solution to your problem. Do you mind testing it?

Cheers!

[2022-01-17 19:38] nishantworah commented on #150
@kszosze So i can test using same AVRO schema right?

[2022-01-17 21:31] kszosze commented on #150
Aye @nishantworah you should test with the same AVRO please.

[2022-01-19 15:21] Rivarsal commented on #75
Hello @nrellanti @madidaye I just wanted to let you know that there is a pull request for the protobuf support.  The number is #162 and the branch is called protobuff-support-new if you want to checkout to that branch.

You can try to download it and see if it works for you!

[2022-01-19 16:47] nrellanti commented on #75
@Rivarsal , Thank you very much for the update, I will download and test for my script and let you know the output of the results.

[2022-01-20 09:44] #100 closed

[2022-01-20 15:38] kszosze commented on #160
Hi @ramandas30,

I was checking out the discussion you opened and saw those properties you need are Broker configuration properties. What you need to set up in the producer is the _acks_ property, following the official documentation..

Do you need to us to support any specific producer property?

[2022-01-21 22:32] nishantworah commented on #150
It works now. Thank you @kszosze

[2022-01-21 22:32] #150 closed

[2022-01-24 08:59] Rivarsal commented on #155
Bugfix: change fieldType for sequence generation.

[2022-01-27 09:41] jemacineiras commented on #75
Hi @nrellanti.

Had you tested your script?
Any feedback will be really appreciated. Keep in mind, we are still working to support imports from external proto files.

Cheers!

[2022-01-27 09:51] UjavalMehta opened #169 "kloadgen passing null value to Key"
With kLoadGen:
![image](https://user-images.githubusercontent.com/91044482/151334396-9354c2b1-555c-4a9a-8770-cea0500e629d.png)

With PepperBox:
![image](https://user-images.githubusercontent.com/91044482/151334473-2837b1d7-57bc-4728-924d-f8c759192d69.png)

I am using kloadgen-3.6.2.jar
I cannot see below parameter for kloadGen Java Request:
1) keyed.message
2) message.key.placeholder
3) message.va

[2022-01-27 09:53] UjavalMehta commented on #157
Please update which version of kloadGen is available to use "null" value

[2022-01-27 14:49] fcampostato commented on #157
Hello @UjavalMehta,

We are still working on this.
You can try with branch #157, but it's not finnished yet. At this moment, that branch only supports null values on optional fields of Avro schemas.
We expect to finnish the work on the next days and add support for Json Schemas as well.

Could you explain what's your problem on generating the jar?

Cheers!

[2022-01-27 23:19] madidaye commented on #75
Hi @jemacineiras

I am currently testing this protobuf functionality, and I am having trouble with the Value Schema Load Generator Config element.

When I try to add the element to my test plan, I get this error:
` ERROR o.a.j.JMeter: Uncaught exception in thread Thread[AWT-EventQueue-0,6,main]
java.lang.Error: java.lang.reflect.InvocationTargetException
`
Can someone assist me with this?

I am us

[2022-01-28 05:49] UjavalMehta commented on #157
Thank you for the update.

I have dependency issues
![image](https://user-images.githubusercontent.com/91044482/151494202-9fdc8a5c-6f18-4c73-ab1f-1076532d60eb.png)

But Riversal given me latest version 3.6.2.

[2022-01-28 09:02] kszosze commented on #157
HI @UjavalMehta,
latest version is already published in github package, we are working to deliver it also to Maven Central.
Branches are only for development and testing before merge, so there is no publication.
Your problem is related to that repository certificate, you should import that into your jvm security file. My advice if you are not familiar with that procedure is to use [portecle](http:

[2022-01-28 09:02] kszosze commented on #169
HI @UjavalMehta,
I'll take a look into it.

Cheers!

[2022-01-28 09:05] kszosze commented on #75
Hi @madidaye,

sure no problem to help, can you provide the full error? And is possible jmx and proto?

Cheers.
P.D. we are close to complete support for import external proto definition, I'll keep you posted in the loop.

[2022-01-28 11:38] UjavalMehta commented on #169
Thank You

[2022-01-28 15:16] madidaye commented on #75
Sure, @kszosze

Here is the full error:
`2022-01-28 08:36:44,794 ERROR o.a.j.JMeter: Uncaught exception in thread Thread[AWT-EventQueue-0,6,main]
java.lang.Error: java.lang.reflect.InvocationTargetException
	at org.apache.jmeter.testbeans.gui.GenericTestBeanCustomizer.<init>(GenericTestBeanCustomizer.java:250) ~[ApacheJMeter_core.jar:5.4.1]
	at org.apache.jmeter.testbeans.gui.TestBeanGUI.init(Test

[2022-01-31 05:53] UjavalMehta commented on #169
After using "Key Plain Load Generator Config", I can see Key is passing but it looks like different behavior to me.
I am using "${engagementId}_${__BeanShell(vars.getIteration();)}".
There are 10+ kLoadGen java request events where few events getting getIteration "0" and few getting "1" which looks weird with "Key Plain Load Generator Config".
Same I have used in "Value Schema File Load Generator

[2022-01-31 07:24] UjavalMehta commented on #169
@kszosze , @Rivarsal ,
Please let me know If you need call to understand more into this but will be needing your assistance as soon as you can manage time.

[2022-01-31 08:23] jemacineiras commented on #169
HI @UjavalMehta,

I will need to see the `jmx` you are using in order to see how you had configured the test plan. The `getIteration` function will provide the count of the loop inside the Thread. So please attach the `jmx` file.

Regarding
`
    keyed.message
    message.key.placeholder
    message.value.placeholder
`
First one is set in the Sampler properties table.
The other 2 we are not using

[2022-01-31 08:24] jemacineiras commented on #75
Thanks, @madidaye,

I'll check it.

Cheers

[2022-01-31 08:32] UjavalMehta commented on #169
Due to security concern, I won't be able to share the jmx
But below is the screen like how I have configured the test plan:
![image](https://user-images.githubusercontent.com/91044482/151761354-dff9700a-c689-4571-ab9f-1704d09898f9.png)

Header is : Kafka Header Config Element
Message is : Value Schema File Load Generator Config
4_0 or like that pattern is : Java Request for kLoad Gen Producer Sche

[2022-01-31 09:11] jemacineiras commented on #169
Hi @UjavalMehta,
I see, the `keyed.message` property you can see in the documentation had been removed in favour of use of the Key Serialized Config Elements. I forgot to remove that in the configuration. Meaning that it's automatically set to true when you add one of those components, if not null is used by default, so no key is generated and sent.
The same happens with the `message.placeholder.k

[2022-01-31 09:50] UjavalMehta commented on #169
Thank You Joes
I am unable to see the "Key Serialized Config Elements" with kloadGen 3.6.2.
I am using "Schema Registry Config Element" whether that will fulfil the Keyed.message propperty to Yes or not
![image](https://user-images.githubusercontent.com/91044482/151771954-7aeb7533-457e-4617-acd5-bc80362cddd6.png)

Regarding @getIterator,
![image](https://user-images.githubusercontent.com/91044482/

[2022-01-31 10:10] jemacineiras commented on #169
Hi @UjavalMehta,

to configure the key, you should use one of the `Key Schema` or the `Key Plain` one. Key Plain Load Generator Config will let you configure a simple message key. The others will create a key defined by a schema.
![Key components](https://user-images.githubusercontent.com/68995937/151772946-00506769-a5a4-4180-b4eb-66c6efdb57ec.png)
We still need to work a bit in the component nami

[2022-01-31 13:16] jemacineiras commented on #75
Hi @madidaye,

I’m trying to reproduce the error, but I could not. Can you check you only have one version of the plugin installed? Sometimes 2 jars live in the same class path and create conflicts.

Cheers

[2022-02-01 11:26] UjavalMehta commented on #169
I have start using "Key Plain Load Generator Config" and stopping using the ${BeanShell(vars.getIteration(); )}

Its working for me but I would recommend to have keyed.message message.key.placeholder message.value.placeholder parameter with "net.coru.kloadgen.sampler.KafkaSchemaSampler" class within Java Request which help to remove the complexity.

Thanks a lot for your support

[2022-02-01 11:26] #169 closed

[2022-02-01 12:48] kszosze commented on #75
Hi @madidaye,

any luck about that?

Cheers!

[2022-02-01 16:33] #155 closed

[2022-02-02 15:09] esthertrigo opened #171 "Update readme and create wiki"
- Move current readme to wiki and adapt to templates.

- Create new readme following template.

[2022-02-03 08:05] jemacineiras commented on #75
Hi @madidaye, @nrellanti,

we have 2 branches supporting protobuff

- protobuff-support-new : which only support plain proto definition
- protobuff-import-test-support: which support proto with external imports. Last one require you provide the jar with the proto files in the jmeter classpath (unless you were using the basic google ones like timestamp which are included already).

If you can, plea

[2022-02-03 15:53] nrellanti commented on #75
@jemacineiras, @kszosze  , I have been successfully created jar file and tested with protobuff-support-new branch with schema Example-Variable-Substitution.jmx file with all proto files in the protobuff folder except **providedTest.proto**.
[Error_1a.txt](https://github.com/corunet/kloadgen/files/7996045/Error_1a.txt)
[Error_2.xlsx](https://github.com/corunet/kloadgen/files/7996046/Error_2.xlsx)

[2022-02-03 22:08] NaliniSake opened #172 "I could dee the KloadGen components, but not able to add to the test plan"
Hi,

I'm able to see all the KloadGen components but not able to add to the test plan, especially value components. I have value schema (Avro format) which needs to attach. Unfortunately not able to add the "Value Schema File Load Generator" Config file to the test plan and not sure how to pass the payload along with the schema.
![image](https://user-images.githubusercontent.com/98602032/152437102

[2022-02-04 08:06] jemacineiras commented on #172
Hi @NaliniSake,

Can you provide the error stacktrace and verify you had copied the kloadgen-X.X.X-plugin.jar to the right folder?

Cheers

[2022-02-04 09:39] jemacineiras commented on #75
Hi @nrellanti,
thanks for the testing and amazing feedback, I took a look, and I'm going to suggest move all the testing to the protobuff-import-test-support which I made some changes regarding data generation and other improvements.

Cheers

[2022-02-04 12:15] fcampostato opened #173 "AvroDeserializer is throwing exception"
Using AvroDeserializer form JMeter is causing it to throw both NullPointerException and EOFException.
This problem could be related with the change of the internal structure of the parameters that AvroDeserializer is receiving due to a change of version.

[2022-02-04 12:18] fcampostato opened #174 "Add support for complex map in JsonSchemas"
Add support for different type of complex maps that are unsupported until now.
When doing this, may check that null values on optinonal maps are still working as it's expected.

[2022-02-04 14:54] NaliniSake commented on #172
Hey @jemacineiras

Yeah, I pulled the latest Master branch and copied the correct jar file "kloadgen-3.7.4-plugin.jar", here is the stactrace.

2022-02-03 23:18:59,140 INFO o.r.Reflections: Reflections took 3 ms to scan 1 urls, producing 15 keys and 16 values
2022-02-03 23:18:59,141 WARN o.r.Reflections: could not get type for name kafka.common.MessageReader from any class loader
org.reflections.R

[2022-02-04 16:12] NaliniSake commented on #172
Hi @jemacineiras

I noticed the issue happening with Kafka-Client. jar, which I'm using for consumer part. If I remove this jar file then able to add components. However, I want to keep the Kafka-Client.jar file, not sure why it is causing the issue.

[2022-02-04 16:30] NaliniSake commented on #172
Hi @jemacineiras
I removed the Kaafka-Client.jar file for now and trying to build the Producer, we don't have schema registry so I tried populating the schema with help of "Value Schema File Load gen" component, here my question is where I can parse the "Message" which needs to get publish. Since, I don't see any filed in Kafka sampler to add "Message"
![image](https://user-images.githubuserconten

[2022-02-04 16:56] nrellanti commented on #75
Hi @jemacineiras,
protobuff-import-test-support has been tested. This branch was working as expected for Kafka messages in the JMeter.
Thank you very much for all the updates.

Few issues:
Value Schema File Load Generator Config: Schema Type by default is "AVRO"
Unable to save Schema Type to "PROTOBUF"

Steps to generate error
Click to save test plan on JMeter
There are test items that have not be

[2022-02-04 16:58] nrellanti commented on #75
Hi @jemacineiras ,
One of our proto file is getting below error, would you please suggest!

ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Java Request'.
java.lang.UnsupportedOperationException: This field is not of enum type. (abc.LocationUpdate.shipment)
	at com.google.protobuf.Descriptors$FieldDescriptor.getEnumType(Descriptors.java:1247) ~[protobuff_v2.jar:1.1.8.4]
	at net.coru.k

[2022-02-07 08:22] jemacineiras commented on #75
HI @nrellanti,

I'll check the save issue and back to you asap.
About the "field is not an enum type" I'm going to need a proto file as example in order to replicate the error.

Cheers

[2022-02-07 08:45] jemacineiras commented on #172
Hi @NaliniSake,
The plugin had already embedded all the necessary classes and jars in order to produce and consume messages. Adding your jar probably you are overwriting the ones we are adding.
Why you need that jar included?

Cheers

[2022-02-07 09:38] jemacineiras commented on #75
Hi @nrellanti,

I made some changes in one visual component, so now you should save and recover jmx files.
Do you mind test it with your files?

Cheers

[2022-02-07 15:39] nrellanti commented on #75
Hi @jemacineiras,
Save issue tested and verified on jmx files. It was working as expected. Thank you so much!

The "field is not an enum type" error : attached proto file for your reference.
[proto_test_file.txt](https://github.com/corunet/kloadgen/files/8016595/proto_test_file.txt)

[2022-02-07 17:01] jemacineiras commented on #172
Hi @NaliniSake,

let's start from the beginning:
- We are not pepperbox, so you don't need to work in the same way.
- We provide Producer and Consumer Sampler for kafka events, both will appear in the Java Request component.
- We don't use any "Message Place holder key" since we pass all the data we need as Jmeter Variables, meaning that all the data sent and received are included in the Sampler R

[2022-02-07 17:31] jemacineiras commented on #102
Hi @mark-landry-appD,

Had you tried the changes?

Cheers

[2022-02-07 17:55] jemacineiras commented on #75
Hi @nrellanti,

The problem with the file you provide, looks like we have an issue identifying the inner type CarrierIdentifier.

I'll take a look into it.

Cheers

[2022-02-08 03:42] NaliniSake commented on #172
Hi @jemacineiras,

Thanks for detailing out.

- I haven't removed the "auto.register.schema" property from producer table, I'm passing the default value as 'False'
- I tried using JSR223 preprocessor to the Producer sampler to pass the Json Payload(which is the message needs to publish to topic)
Please find the below screenshot and stacktrace for same, still I see the Kafka producer failed to cons

[2022-02-08 08:11] jemacineiras commented on #172
Hi @NaliniSake,

this error here
`Caused by: io.confluent.common.config.ConfigException: Missing required configuration "schema.registry.url" which has no default value.`
came from the **Value Schema File Generator Config** element. You had chosen the **io.confluent.kafka.serializers.KafkaAvroSerializer** which required a **schema.registry.url**.
There is another serializer called **net.coru.kload

[2022-02-08 22:28] jemacineiras commented on #75
HI @nrellanti,

I fix some things in the branch and added your proto as example. Do you mind testing it?
Afterwards, I'll remove your file.

Cheers

[2022-02-09 09:56] fcampostato commented on #172
Hi @NaliniSake

We've looking your files and we've detected some errors.

- The file you are trying to use for getting values is named as .csv, but it looks like it's a JSON file.
- Related to this, you can convert it to csv and use the "CSV Data Set Config" config element from JMeter or keep using the preprocessor, or change the file to a JSON file, and use also the preprocessor. In any case, whe

[2022-02-09 10:00] fcampostato commented on #172
Hi @NaliniSake

We've looking your files and we've detected some errors.

- The file you are trying to use for getting values is named as .csv, but it looks like it's a JSON file.
- Related to this, you can convert it to csv and use the "CSV Data Set Config" config element from JMeter or keep using the preprocessor, or change the file to a JSON file, and use also the preprocessor. In any case, whe

[2022-02-09 18:41] nrellanti commented on #75
Hi @jemacineiras,
New code has been tested and verified, shared proto_test_file is working as expected without any errors. Thank you!

However, it will be reproducing the "save" error as I mentioned in previous comment ( https://github.com/corunet/kloadgen/issues/75#issuecomment-1030168849 ).

[2022-02-10 03:44] NaliniSake commented on #172
Hi @jemacineiras,

I have tried with "CSV Data Set Config" element and parse the variable names in the FieldValue list as mentioned above, but still I see "**Kafka Producer failed to construct" Caused by: org.apache.kafka.common.KafkaException: java.security.NoSuchAlgorithmException:  SSLContext not available**. Please find updated jmx file and stack trace.
[Testing .zip](https://github.com/corune

[2022-02-10 09:23] mcabezasp opened #177 "Use field name rather than first field list value as context key"
If two field value lists start with the same value name or even two records in a schema have a field with the same name, those lists influence each other when generating the sequence values.
For example:

**Field Name 			Field Type 		Field Value List**
values[3].id 			seq 			[{1,2]
values[3].otherId 		seq 			[{1,3]

The expected result woud be:
{
  values: [
    {id: 1, otherId: 1},
    {id: 2, ot

[2022-02-10 09:39] RAlex11 opened #178 "How install project?"
Hey! I propose to describe in more detail the process of installing the plugin.

it is not clear what the mvn command is. when and how to do it.

why can't i download 1 file and put it in lib folder ?

[2022-02-10 09:44] Rivarsal opened #179 "Remove "{" in fieldValueList to get Sequences for new Version"
Remove the necessity of using "{" in the fieldValueList in order to get a Sequence.

[2022-02-10 12:39] esthertrigo opened #180 "Edit texts in GitHub action Greetings"
Fix the messages that appear when this action is triggered.

[2022-02-10 16:46] fcampostato commented on #172
Hi @NaliniSake,

We've reviewed your last update. It seems to us that you are trying to connect to a Kafka cluster that's using authentication.
You may look for the type of authentication and credentials that are in use, an put them in the correspondig fields of the "Kafka Producer Properties" element of your plan.

The explanation about what fields and their usage for this purpose are in the READ

[2022-02-10 17:59] NaliniSake commented on #172
Hi @fcampostato

Yeah, If you see the file, I'm using sal_ssl security protocol and provided all the required config files(Jaas, krb5, trust store file). I'm not sure what more its looking to establish the connection. Since I'm able to establish the connection to producer via Kafka tool with same config. it says Kafka exception - Caused by: org.apache.kafka.common.KafkaException: org.apache.kafka.

[2022-02-10 18:20] jemacineiras commented on #160
Closing due inactivity.

[2022-02-10 18:20] #160 closed

[2022-02-10 18:22] #102 closed

[2022-02-10 18:22] jemacineiras commented on #134
Close due inactivity

[2022-02-10 18:22] #134 closed

[2022-02-10 18:25] #180 closed

[2022-02-10 22:00] nrellanti commented on #75
Hi @jemacineiras, I'm getting java: error: release version 5 not supported.

[2022-02-11 11:23] fcampostato commented on #172
Hi @NaliniSake,

This `AvroSerializer` that you have configured there is doing exactly what you are saying. It takes all the data and serializes it to bytes.
It's possible for you to explain with more details which is the problem? Because I think that I'm not understandig it at all.

Cheers!

[2022-02-11 15:16] NaliniSake commented on #172
Hi @fcampostato,

We have Data requirement for the Payload to match with Schema requirement, which Im following as it is and able to publish message to topic but in the consumer, I'm not seeing the data as expected, since it is considering my Payload as "Unsupported Schema"
**Here is the expected way to be seen in consumer:**
 snappyavro.schemaA{"type": "record", "name": "", "namespace": “com.xxxx

[2022-02-14 09:41] jemacineiras commented on #75
HI @nrellanti,

that's weird, I’ll take a look. Which JVM are you using?

[2022-02-14 15:52] nrellanti commented on #75
Hi @jemacineiras,
I have used three different versions
**jdk1.8.0_101**:   java: diamond operator is not supported in -source 1.5
  (use -source 7 or higher to enable diamond operator)

**zulu11**:        java: error: release version 5 not supported.

**zulu17.32.13**:   Cannot determine path to 'tools.jar' library for 17 (C:\Program Files (x86)\zulu17.32.13)

[2022-02-14 16:24] jemacineiras commented on #75
Hi @nrellanti,

we move to Java11 some months ago, since it reached the end of live. So is understandable it fails with jdk8.
I will try with zulu11 and see why it’s complaining. As far as I remember, this error came due to JVM versions, meaning use a Java 11 bytecode in a java 8 jvm.
About zulu 17, I think the tools.jar was removed in Java 14 or 15 from the standard deployment, so I think some ma

[2022-02-14 16:51] fcampostato commented on #172
Hi @NaliniSake,

Ok, now I understand your problem.
Looking to the result you are expecting to receive, I think you could try the serializers with the `Generic` prefix in their names, like `GenericJsonRecordSerializer`.
I hope this will solve your problem.

Cheers!

[2022-02-16 08:51] t-h-e commented on #179
As far as I understand, currently the field type `seq` can be used in two different ways.
Either *with* `{` and a field value list, e.g. `[{5,3,4]`, which will then use the values in the following order `5->3->4->5->...`
Or *without* `{` and then the first value of the field value list will be used to generate a sequence (probably only works with numbers?). E.g. field value list `[5,3,4]`, with re

[2022-02-16 10:01] jemacineiras commented on #179
HI @t-h-e,
The plan is to remove the '{' and  make de behaviour more consistent using only the `seq`. Meaning that if you provide a list of values, you will get a sequence on that list only, like the `[5,3,4]` example. In case only one value be provided, this will work as initial value like the behaviour you relate _without_ `{`.
I just saw you PR, thanks!!
Only a comment, in order to keep track o

[2022-02-16 15:23] t-h-e opened #184 "Fix sequence casts"
If field type is set to `seq`, the type returned from the field value list was always of type `String`, even though if the type in the avro schema is e.g. `int`.

As discussed here: https://github.com/corunet/kloadgen/discussions/164

[2022-02-16 15:45] t-h-e commented on #179
Hi @jemacineiras,
thanks for the nice plugin. 😃
Sure no problem. I created an issue for my PR.

One question about removing `{` though.
How to distinguish between the two cases, if only a single element is given?
Currently:
`[{1]` will result in `1->1->...`
`[1]` will result in `1->2->3->...`
Afterwards only the second case is possible. To allow the first case, one has to write `[1,1]`, right?
IMH

[2022-02-16 17:14] jemacineiras commented on #179
Hi @t-h-e,

your first case is wrong, If you want always to be `1`, you don't specify a `seq`, just only the type of, like _integer_, _long_....
You will only set type to `seq` when you need a sequence for that specific field.

If a list of elements is provided, then we will iterate over it and use as a `valid set` to get the values.
I’m trying to keep the things as easy as I can, just to be prepa

[2022-02-17 18:39] jemacineiras commented on #75
HI @nrellanti,

I’ve been testing the protobuff and couldn’t reproduce your problem with the `version 5` also fix some issue with the Schema Registry integration.

Could you please give me some feedback about? How I can reproduce that error?

Cheers!

[2022-02-17 22:39] sushmatshetty opened #186 "Unable to add Value Schema Load Generator config."
2022-02-17 14:39:34,165 ERROR o.a.j.JMeter: Uncaught exception in thread Thread[AWT-EventQueue-0,6,main]
java.lang.Error: java.lang.reflect.InvocationTargetException
	at org.apache.jmeter.testbeans.gui.GenericTestBeanCustomizer.<init>(GenericTestBeanCustomizer.java:250) ~[ApacheJMeter_core.jar:5.4.3]
	at org.apache.jmeter.testbeans.gui.TestBeanGUI.init(TestBeanGUI.java:425) ~[ApacheJMeter_core.jar

[2022-02-17 22:59] sushmatshetty commented on #186
Sushma_Test.jm
[Sushma_Test.jmx.zip](https://github.com/corunet/kloadgen/files/8092773/Sushma_Test.jmx.zip)
x

[2022-02-17 23:22] kszosze commented on #186
HI @sushmatshetty,

I can open your jmx without no problem after removing that KafkaProducerSampler `com.di.jmeter.kafka.sampler.KafkaProducerSampler`. My guessing is you are dealing with some jar clash. What other plugins are you using, so I can try to reproduce the conflict?

Cheers!

[2022-02-18 00:41] sushmatshetty commented on #186
Thankyou.
I dont have any other plugins. I had pepper box , but I have removed the jar file.
![image](https://user-images.githubusercontent.com/92820421/154595637-b852a1ff-4c81-48e3-a59f-576ee36893d9.png)

[2022-02-18 00:41] sushmatshetty commented on #186
![image](https://user-images.githubusercontent.com/92820421/154595690-ec6fbf1a-11c8-47e3-ae41-289c578cd8ae.png)

[2022-02-18 12:08] cmunozgomez commented on #186
Hi, I have the issue assigned.
Sorry for the inconvenience for not having answered before, we will have it as soon as possible.

[2022-02-21 16:55] mcabezasp commented on #184
The issue has been resolved

[2022-02-22 11:42] cmunozgomez commented on #186
Hi @sushmatshetty

I have finally managed to reproduce the error with the environment that you have installed in JMeter.

You have previously commented that you have no more plugins installed, but to simulate the error with the test-plan that you have sent us, I have been forced to install the following 3: di-kafkameter, kafkameter y jmeter.backendlistener.kafka.

If I don't install these plugins,

[2022-02-22 17:15] NaliniSake commented on #172
Hi @fcampostato

I tried with ```Generic``` Prefix options but didn't help me.

[2022-02-22 17:18] sushmatshetty commented on #186
![image](https://user-images.githubusercontent.com/92820421/155183992-a2d456d2-5c0f-4671-88e4-4d4020b105db.png)

I removed and ran the test. this is the failure . Is this something related to my inputs?

[2022-02-23 09:22] cmunozgomez commented on #186
Hi @sushmatshetty

I suppose that you have finally been able to add a Value Schema Load Generator config to your test plan. Removing the plugins that I mentioned in my previous answer does not give problems to add it.

About the problem that appears in the new image capture that you have added (which I suppose corresponds to the execution of the test) I do not know what new changes you have made i

[2022-02-23 09:56] gatlingtester opened #187 "Getting "ERROR o.a.j.r.ClassFinder: Error filtering class org.apache.kafka.common.requests.GroupCoordinatorResponse, it will be ignored java.lang.IncompatibleClassChangeError: class org.apache.kafka.common.requests.GroupCoordinatorResponse has interface org.apache.kafka.common.requests.AbstractRequestResponse as super class" Error When Jmeter is launched"
I download code from repo and build it using maven as suggest in wiki page. Build was successful and JAR file was created. I copied the JAR file to Jmeter lib/ext folder and restarted Jmeter (version 5.3).

I am getting below error on launching of Jmeter. Also non of the kafka config elements are getting displayed.
2022-02-22 16:30:20,913 ERROR o.a.j.r.ClassFinder: Error filtering class org.apache

[2022-02-23 12:03] #184 closed

[2022-02-23 12:50] fcampostato commented on #187
Hi @gatlingtester,

Thank you for using the plugin.

I've been looking your error but I'm not able to reproduce it. It seems that may be caused by an unupdated component.
Do you think you could try to update to a newer version of JMeter (5.4+)?

If after updating it, the error is still there, came back and we will try to help.

Cheers!

[2022-02-23 16:37] sushmatshetty commented on #186
hi,
Yes I am able to add the Value schema File Load Generator now. when I run the test this is the error:
![Screen Shot 2022-02-23 at 8 35 29 AM](https://user-images.githubusercontent.com/92820421/155364241-bbaff561-7be3-4c6e-8c99-cf0a7610ae7e.png)

 I will send the test plan and Avro.

thanks.

[2022-02-23 20:11] sushmatshetty commented on #186
[debug_1.jmx.zip](https://github.com/corunet/kloadgen/files/8127518/debug_1.jmx.zip)

attached is the test plan. Please check and let me know where I am going wrong.

[2022-02-24 11:14] cmunozgomez commented on #186
Hi @sushmatshetty

I have used the test plan that you have sent me (debug_1.jmx) and in that test plan you simultaneously use
a Value Schema File Load Generator Config and a Value Schema Load Generator Config. You should try only one at a time so that you can better see the errors.

In the case of using Value Schema File Load Generator Config in the test, no schema is loaded and it gives me your e

[2022-02-24 22:31] sushmatshetty commented on #186
That was very useful. I used the Value Schema Load Generator. I added all the values from the schema.
![Screen Shot 2022-02-24 at 2 26 14 PM](https://user-images.githubusercontent.com/92820421/155618051-0a78dc71-5690-4f35-a471-181c159f3ab9.png)

our env has jaas enabled. so I gave the conf file path. But I am getting below error:
![image](https://user-images.githubusercontent.com/92820421/15561827

[2022-02-25 11:46] cmunozgomez commented on #186
Hi @sushmatshetty

Apparently the conf file for authentication via sasl is correct, as it appears in the comment.

It is possible that the problem is in the configuration of values ​​in the Kafka Producer Properties. I add the following url to the official documentation https://docs.confluent.io/platform/current/kafka/authentication_sasl/authentication_sasl_plain.html#configuration
 that may help

[2022-02-28 19:02] sushmatshetty commented on #186
![Screen Shot 2022-02-28 at 11 00 18 AM](https://user-images.githubusercontent.com/92820421/156042605-cdfdd216-888a-437a-9578-90ac62a26b81.png)
I have put in all the details as given by my dev team. It still fails with

022-02-28 10:58:51,727 INFO o.a.k.c.u.AppInfoParser: App info kafka.producer for  unregistered
2022-02-28 10:58:51,727 ERROR o.a.j.p.j.s.AbstractJavaSamplerClient: Failed to constr

[2022-03-01 07:16] cmunozgomez commented on #186
Hi @sushmatshetty

the error that you indicate to me seems to come from the following cause: _**Caused by: java.lang.SecurityException: java.io.IOException: Configuration Error: Line 5: expected [option key]**_ As stated in the error message itself.

I think that this error usually occurs when it does not read the properties of the jass.conf file correctly, please check that it is well written, fo

[2022-03-01 16:14] sushmatshetty commented on #186
Hi, Yes that worked fine. I have one question. In the Value Schema Load Generator Config, is it necessary to add the "Field Length"?

Please check below error:

2022-03-01 08:10:51,639 ERROR n.c.k.l.i.AvroLoadGenerator: Please make sure that properties data type and expression function return type are compatible with each other
java.net.UnknownHostException: avroregistry.octanner.io
	at sun.nio.ch

[2022-03-01 17:17] sushmatshetty commented on #186
=====I gnore the above one. Below is the error

2022-03-01 09:15:29,253 INFO o.a.k.c.u.AppInfoParser: App info kafka.producer for  unregistered
2022-03-01 09:15:29,253 ERROR o.a.j.p.j.s.AbstractJavaSamplerClient: Failed to construct kafka producer
org.apache.kafka.common.KafkaException: Failed to construct kafka producer
	at org.apache.kafka.clients.producer.KafkaProducer.<init>(KafkaProducer.java

[2022-03-01 23:42] sushmatshetty commented on #186
I was able to get the right UUID. But still I get this error: 2022-03-01 15:35:57,861 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Kafka Producer'.
java.lang.IllegalArgumentException: UUID string too large
	at java.util.UUID.fromString1(UUID.java:264) ~[?:?]
	at java.util.UUID.fromString(UUID.java:258) ~[?:?]

Thanks

[2022-03-02 06:28] cmunozgomez commented on #186
Hi @sushmatshetty

This UUID error usually occurs because you may be putting a UUID without dashes (example: "0177f035e51c4a468b825b157371c2a5" when it should be "0177f035-e51c-4a46-8b82-5b157371c2a5" ).

Please you try again with a correct UUID and containing hyphens to see if it works correctly.

[2022-03-02 14:41] cmunozgomez commented on #186
Hi @sushmatshetty

I wanted to tell you that the last errors are not related to the plugin itself, they are JMeter configuration errors, definition of variables in files, etc.

Therefore, if the objective of opening the issue has been solved, it would be necessary to close it and if you have any other error, you can open a new one with the new problem.

We are happy to help if possible but we don'

[2022-03-02 16:39] sushmatshetty commented on #186
Hi,
I tried both with and without the dashes, either it says the UUID is too long or its invalid.
Yes if its not related to the pligin we can go ahead and close the ticket. thank you for the support.

022-03-02 08:35:32,889 ERROR o.a.j.t.JMeterThread: Error while processing sampler: 'Kafka Producer'.
java.lang.IllegalArgumentException: Invalid UUID string: "UUID withput dashes"
	at java.util.UUID.

[2022-03-03 09:04] cmunozgomez commented on #186
Hi @sushmatshetty

We are going to close the current issue and please open a new one with the current error.

For this new error, when you open the issue, attach us the updated test plan that you are using and an example of a uuid that you are using. You also indicate which version of JVM and JDK you are using.

Thank you very much and as soon as you open the new issue we will start working again,

[2022-03-03 09:04] #186 closed

[2022-03-07 22:44] sushmatshetty opened #189 "Unable to run the kafka poducer"
Error while processing sampler: 'Kafka Producer'.
java.lang.NullPointerException: Cannot invoke "org.apache.avro.Schema$Field.schema()" because "field" is null
	at net.coru.kloadgen.processor.AvroSchemaProcessor.isOptionalField(AvroSchemaProcessor.java:261) ~[kloadgen-3.8.2-plugin.jar:?]
	at net.coru.kloadgen.processor.AvroSchemaProcessor.next(AvroSchemaProcessor.java:97) ~[kloadgen-3.8.2-plugin.j

[2022-03-08 08:24] fcampostato commented on #187
Hi @gatlingtester,

Are there any news about this? If it isn't, I will close this issue in the next days.
If you have problems later on, please feel free to open a new issue and we will try to help you.

Cheers!

[2022-03-09 16:56] Rivarsal opened #190 "Add an issue template"
Add an issue template for KloadGen.

[2022-03-10 09:59] #174 closed

[2022-03-10 10:23] #190 closed

[2022-03-11 08:57] fcampostato commented on #187
Hi @gatlingtester,

Due to the innactivity related with this issue, I'm going to close it.

If you have problems in the future, please feel free to come back and we will try to help you.

Cheers!

[2022-03-11 08:57] #187 closed

[2022-03-11 09:22] cmunozgomez commented on #189
Hi @sushmatshetty,

Are there any news about this? If it isn't, I will close this issue in the next days.

If you have problems later on, please feel free to open a new issue and we will try to help you.

Cheers!

[2022-03-11 18:20] #189 closed

[2022-03-11 18:20] sushmatshetty commented on #189
Will get back if I have problems.thanks

[2022-03-15 09:28] #179 closed

[2022-03-22 09:02] esthertrigo opened #195 "[Issue]: Changelog not visible in repo"
### What happened?

According to the GH action _Generate changelog_ log, the changelog gets generated but it does not show in the repository.

This page might help solving the issue: https://github.com/heinrichreimer/action-github-changelog-generator/issues/22

### KloadGen Version

KLoadGen 3.0

### Relevant log output

_No response_

### Have you added your JMX Testplan or a replica?

- [X] I ha

[2022-03-23 11:29] esthertrigo opened #196 "Move doc to wiki - Mandatory pages"
### What happened?

### Summary

The documentation is in process of being restructured and moved to a new wiki following a suggested set of templates. According to this model, three modules/pages are mandatory: Overview, Getting started, Additional information.

### Intended outcome

Work with the documentation content to create these first three pages in a docs folder structure that will then be

[2022-03-24 08:59] esthertrigo opened #198 "[Issue]: ssl.protocol repeated in KafkaSchemaSampler"
### What happened?

In net.coru.kloadgen.sampler.KafkaSchemaSampler, the parameter ssl.protocolo appears twice:

![image](https://user-images.githubusercontent.com/97591054/159879570-52aeebc3-ebf7-446b-8250-789a42bc0a85.png)

### KloadGen Version

KLoadGen 3.0

### Relevant log output

_No response_

### Have you added your JMX Testplan or a replica?

- [X] I have added a JMX testplan

### Have yo

[2022-03-24 13:00] esthertrigo commented on #196
There are some issues that need the cooperation of developers. Could you please provide this information?

- about.md
  - [ ] (suggested) You might want to include a **Vision** heading (Use this section to describe the vision the team has for the tool. How do you imagine the product growing and behaving in the mid/long term?) In this case, please provide some text.
  - [ ] (suggested) You might wa

[2022-03-24 13:27] esthertrigo opened #199 "[Issue]: Update wiki from folder structure"
### What happened?

### Summary

The updates in the wiki are committed, but wikis do not allow the use of PRs to have control over the changes. While a revision function exists in the wiki that allows comparing different committed versions, this does not allow to confirm or edit the changes before publishing them.

### Proposal

A workaround could be used for this: create a folder within the regul

[2022-03-24 16:16] #75 closed

[2022-03-25 09:56] esthertrigo commented on #196
@jmejutovazquez, @jemacineiras For the checklist items above, you can work directly in the PR https://github.com/corunet/kloadgen/pull/197 for the ones that require texts from you (and then please check the corresponding item above) or else provide the information and I will include it.

[2022-03-25 12:54] #171 closed

[2022-03-28 08:20] jmejutovazquez commented on #198
Hi @esthertrigo . I've been working on this issue and it's already fixed. When the pull request is approved, the changes will be on master branch.
Cheers!

[2022-03-30 08:40] esthertrigo opened #201 "Move doc to wiki - Optional pages"
### What happened?

### Summary
The documentation is in process of being restructured and moved to a new wiki following a suggested set of templates. This issue deals with the optional pages/set of pages.

### Intended outcome
Work with the documentation to adapt the rest of the content to the new wiki:

- [x] Installation (https://github.com/corunet/kloadgen/pull/202)
- [x] Configuration (https:/

[2022-03-30 10:00] jemacineiras commented on #178
We complete the task to publish into maven central, now you can find it [here](https://mvnrepository.com/artifact/net.coru/kloadgen).
Thanks

[2022-03-30 16:18] nrellanti opened #204 "[Repo: protobuf-import-test-support]:"
### What happened?

import "google/protobuf/timestamp.proto";
import "google/protobuf/wrappers.proto";

Getting below errors: (proto file attached)

2022-03-30 10:49:18,755 ERROR n.c.k.l.i.ProtobufLoadGenerator: Please make sure that properties data type and expression function return type are compatible with each other
com.google.protobuf.Descriptors$DescriptorValidationException: google.protobuf

[2022-03-30 22:21] jemacineiras commented on #204
Hi @nrellanti,

I'll take a look at it.

Cheers!

[2022-03-31 14:27] jemacineiras commented on #204
Hi @nrellanti,
I have a fix ready to merge, if you don't mind testing it.
Just comment a couple of things.

- We release version 4.0.0 last week, so now protobuff support is already in master.
- We have changed the installation procedure, because now we are using Maven Central for delivery, the jar name had changed. From now is kloadgen-<version number>.jar

Cheers

[2022-03-31 16:43] nrellanti commented on #204
@jemacineiras , I will test and update the status.
Thank you

[2022-03-31 16:54] nrellanti commented on #204
So I will test on Master Branch, if it is different , please let me know.

[2022-04-02 20:37] jemacineiras commented on #204
hi @nrellanti,

That is the branch where I'm working to solve your issue.
I will wait for your feedback.
Thanks!

[2022-04-03 03:23] nrellanti commented on #204
Hi @jemacineiras,
Tested and verified the fix, it was working as expected. Thank you !

[2022-04-04 07:35] esthertrigo opened #207 "Move doc to wiki - Final review"
### Summary

After final content approval (issues #196 and #201), the files should be moved to the wiki (related to issue #199). After that, a final proofreading takes place, where also minor issues can be fixed.

### Tasks

- [x] Final proofreading (grammar/style)
- [x] Screenshots update as per changes in sampler and config element names, depends on #272
- [x] Check no reference to change log ex

[2022-04-04 09:02] #204 closed

[2022-04-04 15:29] esthertrigo commented on #196
As per conversation with Jose, no Vision, Tools story headings will be created.
The log of changes will refer to GitHub Releases section. Contributing is not scheduled for the moment. Release notes will not be detailed for the moment either.

[2022-04-06 10:10] #201 closed

[2022-04-06 10:11] #196 closed

[2022-04-11 14:42] JonasMueller1991 opened #208 "[Issue]: Issue with subsequence and defaults in Avro Schema"
### Issue with subsequence and defaults in Avro Schema
Hey,
I found a new strange behavior in an Avro schema.
A minimal example for the Avro schema is attached.
Note that there are two fields `valueWithDefaults` and `valueWithoutDefaults`, where one of them has a default value in `type`. If we use this Avro schema in the Value Schema Load Generator Config and use the field type `seq` to send a sub

[2022-04-12 08:30] cmunozgomez commented on #208
Hi @JonasMueller1991

Thank you for your collaboration, we will review it and the changes/progress that we are making will inform you here.

[2022-04-12 12:24] cmunozgomez commented on #208
hi @JonasMueller1991,

we have detected the problem of the incorrect behavior in the cases of sequences.

We will open a pull request for the change to be integrated into the main branch. When said pull request is closed, this issue will be concluded initially.

As soon as we have the changes uploaded to the branch and the pull request created by @fcampostato , we will indicate it here.

Again tha

[2022-04-12 12:49] JonasMueller1991 commented on #208
Thanks! :)

[2022-04-12 16:11] fcampostato commented on #208
Hi @JonasMueller1991,

We've being working on this today and we've uploaded a solution for this.
You can check and try it on the [#208-sequence-and-defaults](https://github.com/corunet/kloadgen/tree/%23208-sequence-and-defaults) branch.

We are still working on it, so it can take a little to be deployed to master.
If you find any problems with the solution, please come back and we will try to help

[2022-04-18 08:31] #208 closed

[2022-04-18 08:34] cmunozgomez commented on #208
hi @JonasMueller1991,

the pull request associated with this issue was integrated into the main branch, therefore this issue is closed.

Again, thank you very much for your collaboration.

[2022-04-19 08:46] Rivarsal opened #212 "[Issue]: Create a documentation template"
### What happened?

We must create a documentation template.

### KloadGen Version

KloadGen 4.0.0

### Relevant log output

_No response_

### Have you added your JMX Testplan or a replica?

- [X] I have added a JMX testplan

### Have you added your Schema or a replica?

- [X] I have added the Schema

[2022-04-19 09:08] Rivarsal opened #214 "[Documentation Issue]: Sequence segment needs to be changed"
### What's the problem folk?

@cmunozgomez found out that the sequence segment is outdated. It needs to be changed to the current version.

![image](https://user-images.githubusercontent.com/59642284/163969746-50a3f376-a13e-4159-a6b8-e29f948dd118.png)

### Have you checked that this is on the documentation already?

- [X] I have already checked the documentation

### Have you checked that this iss

[2022-04-19 12:06] cmunozgomez opened #216 "Change FieldValueMapping attribute name to one closer to the logic of its use."
### What happened?

add support for change the isParentRequired attribute to isAncestorRequired.
When this change is made, it must be revised in all the places where said attribute is used with the previous name, in the variables and methods where implicit logic is used or referenced (for example: method names, variables, etc)

### KloadGen Version

KloadGen 4.0.0

### Relevant log output

_No res

[2022-04-19 12:15] cmunozgomez opened #217 "refactor the AvroExtractor class"
### What happened?

add support for the refactor and revision of the AvroExtractor class.
The idea is to eliminate the repeated methods that use the same logic and they only differ by the use of the control logic of the isParentRequired variable (in another issue it has already been requested to change it to isAncestorRequired). Also eliminate those unused methods.

### KloadGen Version

KloadGen

[2022-04-19 12:19] cmunozgomez opened #218 "apply the CorunetStyle in Code Style and the text justification in the .avsc test files"
### What happened?

add support to justify and review the style of the .avsc test files by applying the CorunetStyle to these files.

### KloadGen Version

KloadGen 4.0.6

### Relevant log output

_No response_

### Have you added your JMX Testplan or a replica?

- [X] I have added a JMX testplan

### Have you added your Schema or a replica?

- [X] I have added the Schema

[2022-04-19 12:25] cmunozgomez commented on #214
hi @esthertrigo

both in schemas.md and in the wiki, those references to the use of "{" in the paragraph that explains the use of sequences must be eliminated, only remains that "seq" is used in the Field Type.

[2022-04-19 12:46] #212 closed

[2022-04-19 14:27] pedror19 commented on #218
Hello @cmunozgomez  we have fixed the styles

[2022-04-20 08:17] #218 closed

[2022-04-20 13:43] IsaUlloa commented on #216
Hi @cmunozgomez, we have changed the name of the attribute "isParentRequired" for "isAncestorRequired".

[2022-04-21 14:03] #216 closed

[2022-04-26 10:50] Rivarsal opened #221 "[Issue]: Changed KloadGen plugin´s generated files name"
### What happened?

Currently, KloadGen files are generated as such:
![image](https://user-images.githubusercontent.com/59642284/165283034-4b7fe1b7-1168-46d8-9774-00e7d6546d21.png)
![image](https://user-images.githubusercontent.com/59642284/165283092-b169bdc1-1c81-44aa-8539-56988ea9282d.png)

These names might create a little bit of confusion to new users. A suggestion from @esthertrigo is to add

[2022-04-26 10:54] Rivarsal opened #222 "[Issue]: Fix Typo: Constrains in FieldValueMapping"
### What happened?

Currently, FieldValueMapping.class and FieldValueMappingBuilder have a variable called **constrains**.

![image](https://user-images.githubusercontent.com/59642284/165284559-04a42aca-a197-45b9-91b8-5a725a86241f.png)

This is a typo, the correct spelling is **constraints**. This also happens in the methods getConstrains, setConstrains.

### KloadGen Version

KloadGen 4.0.8

###

[2022-04-27 11:26] IsaUlloa opened #223 "[Issue]: Refactor constructors in FieldValueMapping class"
### What happened?

Currently, _FieldValueMapping_ has 3 unnecesary constructors. They should be removed and use the builder instead.

### KloadGen Version

KloadGen 4.0.8

### Relevant log output

_No response_

### Have you added your JMX Testplan or a replica?

- [X] I have added a JMX testplan

### Have you added your Schema or a replica?

- [X] I have added the Schema

[2022-04-27 13:47] pedror19 commented on #217
Hi @cmunozgomez, we have refactored the AvroExtractor class and created a new one with some common utils for all the extractor classes.

[2022-04-27 15:47] esthertrigo opened #227 "[Documentation Issue]: Update readme"
### What's the problem, folk?

### Motivation
The wiki content has been changed, and the Readme needs to be adapted to the new structure. Also, wiki home need to be updated with the about.md. Update contributing to point to the checkstyle file.

### Proposal

- [x] Update the readme file to have it in sync with the wiki.

### Have you found it in the docs folder?

- [X] I have already checked the

[2022-04-27 15:55] esthertrigo opened #228 "[Documentation Issue]: Update release notes file"
### What's the problem folk?

### Motivation

KLoadGen 4.0 has been already released and the Release notes in docs should be updated accordingly.

### Proposal

- [X] Include text agreed with Pablo in the release-notes file.

### Have you found it in the docs folder?

- [X] I have already checked the docs folder

### Have you checked whether this issue is already being taken care of?

- [X] I have

[2022-04-27 18:06] esthertrigo opened #230 "[Documentation Issue]: Rename image files"
### What's the problem folk?

### Motivation

Image files were named using initial uppercase and underscores, but, according to TW guidelines, filenames should use lowercase and hyphens.

### Proposal

- [x] Change the image filenames so they follow our guidelines.
- [x] Update references in other files to avoid breaking links.

### Have you found it in the docs folder?

- [X] I have already check

[2022-04-28 06:51] #230 closed

[2022-04-28 07:39] #214 closed

[2022-04-28 09:30] t-h-e opened #235 "[Issue]: FieldValueList with a single item is treated as sequence which breaks for non-numeric field value lists"
### What happened?

I have the following field value mapping:
[code]
where `data[].stringFieldValueList` is really a string, but to use field value list, it has to be defined as `seq`.

`${stringFieldValueList}` is read from a CSV filed an may vary in length. The length of `${stringFieldValueList}` defines the number `${amount}`. This works well as long as `${stringFieldValueList}` has more than o

[2022-04-28 13:42] cmunozgomez commented on #235
Hi @t-h-e

Thank you for your collaboration, we will review the changes you propose and we will inform you of anything that we see that should be changed.

If everything is correct, proceed to merge the pull request that you have opened.

[2022-04-30 07:05] #228 closed

[2022-05-04 08:21] #217 closed

[2022-05-04 09:01] Rivarsal opened #237 "[Issue]: Check the possibility of adding this plugin to JMeter Plugin Manager"
### What happened?

As requested per Redline13:  https://www.redline13.com/ we must check if it is interesting to add the plugin into JMeter Plugin Manager.

Tasks:

- [ ] Check what needs to be done in order to add the plugin into the JMeter Plugin Manager.
- [ ] Analyse if it´s scalable and something worth to maintain.

After both these checks are done, discuss if we want to do this for KloadGen

[2022-05-04 10:54] irodigl opened #238 "[Issue]: Refactor the JSONSchemaParser and JsonExtractor classes"
### What happened?

As a developer, given the JSONSchemaParser and JsonExtractor classes, I want to refactor them. The idea is to eliminate the repeated methods that use the same logic for obtaining a better clean code.

### KloadGen Version

KloadGen 4.0.9

### Relevant log output

[code]

### Have you added your JMX Testplan or a replica?

- [X] I have added a JMX testplan

### Have you added yo

[2022-05-04 12:16] ShantiSumanth opened #239 "Failing to connect to Kafka"
Hi,
Trying to make a connection to Kafka and produce message(son) to a topic but failing to connect.

Whilst sending a message using JMeter below issues are seen
 Kafka producer is closing with timeout=0ms
 Login module control flag not specified in JAAS config.

Please find the login specified in jaas.conf
<img width="868" alt="Screen Shot 2022-05-04 at 12 55 43" src="https://user-images.githubus

[2022-05-04 14:41] irodigl opened #240 "[Issue]: Add test class for JsonExtractor"
### What happened?

As a Developer, given the JsonExtractor class, I want to create its test class

### KloadGen Version

KloadGen 4.0.9

### Relevant log output

_No response_

### Have you added your JMX Testplan or a replica?

- [X] I have added a JMX testplan

### Have you added your Schema or a replica?

- [X] I have added the Schema

[2022-05-05 05:53] cmunozgomez commented on #239
Hi @ShantiSumanth

Thank you for your collaboration, we will review it and the changes/progress that we are making will inform you here.

[2022-05-05 08:22] ShantiSumanth commented on #239
Thanks @cmunozgomez.

[2022-05-06 09:49] t-h-e commented on #235
Hi @cmunozgomez ,

I think the current PR fixes the issue described above. But while testing the PR I noticed another bug in the `seq` implementation in combination with JMeter variables.

Assume we have the following field value mapping:
[code]
Note that is now int rather than string.

Lets assume we have a loop around the KafkaSchemaSampler as in the example attached to this issue.
The following